<a href=#bookmark>**Once data is already scraped, click here to jump down to the right place.**</a>

Go to <a href=#bookmark2>my bookmark</a>

In [10]:
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline

import os
import pprint
import googlemaps
from collections import defaultdict
import time
import pickle
from random import randint

import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from bs4 import BeautifulSoup
import requests

chromedriver = f"/Users/brenner/chromedriver" # path to the chromedriver executable
os.environ["webdriver.chrome.driver"] = chromedriver

%load_ext dotenv
%dotenv

%load_ext autoreload
%autoreload 2

The dotenv extension is already loaded. To reload it, use:
  %reload_ext dotenv
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:

from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from bs4 import BeautifulSoup
import requests

chromedriver = f"/Users/brenner/chromedriver" # path to the chromedriver executable
os.environ["webdriver.chrome.driver"] = chromedriver

In [12]:
# Use fivethirtyeight styling, because I like it
import matplotlib.style as style
style.use('fivethirtyeight')

# Import private API key

MAPS_KEY = os.environ.get('MAPS_KEY')

# Change format of charts to .svg
%config InlineBackend.figure_format = 'svg'

In [14]:
%xmode

Exception reporting mode: Plain

In [5]:
# This dataset contains house sale prices for King County, which includes Seattle. It includes homes sold between May 2014 and May 2015.
# Read the data into pandas dataframe
df = pd.read_csv('kc_house_data.csv')

In [6]:
# Let's take a look at the data
df.head(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062

In [7]:
# Recast price column as integer, for simplicity
df['price'] = df.price.astype(int)

In [26]:
coords = list(zip(df['lat'].astype(float), df['long'].astype(float)))

In [30]:
len(coords)

21613

In [31]:
formatted_addresses = []
json_addresses = []
neighborhoods_list = []
address_dictionary = defaultdict(str)

def get_addresses(coords_list):
    count = 0
    for coord_tuple in coords_list:
        count +=1
#         if count >= 1000:
#             time.sleep(120)
#             count = 0
        
        try:
            # Instantiate a Google Maps API session
            address = gmaps.reverse_geocode(coord_tuple)
            
            # Parse the JSON results
            formatted_address = address[1]['formatted_address']
            
            # Store both a list of formatted addresses and a list of all data for safekeeping
            formatted_addresses.append(formatted_address)
            json_addresses.append(address)
            
            # Store a list of neighborhoods
            neighborhood = address[0]['address_components'][2]['short_name']
            neighborhoods_list.append(neighborhood)
            
            # Store a dictionary of lat/long and formatted addresses, in case we need to map to dataframe later
            address_dictionary[coord_tuple] = formatted_address
            
            print('Success')

        except:
            print('Could not get address.')
            formatted_addresses.append(None)

In [33]:
get_addresses(coords)

Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success

In [34]:
len(formatted_addresses)

21613

In [39]:
# # Pickling original list so not to lose my work
# with open('address_list_final.pkl', 'wb') as f:
#     pickle.dump(list_of_addresses, f)

# with open('formatted_addresses.pkl', 'wb') as f:
#     pickle.dump(formatted_addresses, f)

# # Pickling like crazy because I don't want to lose my data.
# # Yes, I know pickling isn't always the best. Works for now.
# with open('json_addresses.pkl', 'wb') as f:
#     pickle.dump(json_addresses, f)

# with open('neighborhoods.pkl', 'wb') as f:
#     pickle.dump(neighborhoods_list, f)

# with open('address_dictionary.pkl', 'wb') as f:
#     pickle.dump(address_dictionary, f)

In [64]:
# Backing up a whole bunch more
neighborhood_df.to_csv('neighborhood_csv.csv', index=False, header=False)
nh = pd.read_csv('neighborhood_csv.csv')
formatted_addresses_df = pd.DataFrame(formatted_addresses, columns=['Formatted Addresses'])
formatted_addresses_df.to_csv('formatted_addresses_csv.csv', index=False)

In [71]:
# Add formatted addresses from Google Maps API to our dataframe (!)
df['Address'] = formatted_addresses

In [ ]:
# Adding neighborhood to dataframe
df['Neighborhood'] = neighborhoods_list

**Start here once data is already scraped** <a name='bookmark' />

In [8]:
# Now that the data is already scraped, we can pick up from here and add 'Address' column to main dataframe
addresses_df = pd.read_csv('formatted_addresses_csv.csv')
df['Address'] = addresses_df['Formatted Addresses']

In [20]:
neighborhood_df = pd.read_csv('neighborhood_csv.csv', header=None)
df['Neighborhood'] = neighborhood_df

Code in cell below is for imputing zip code from Google addresses, but we already have that data in another column. May return to this later.

In [95]:
# # Grab a list of all the zip codes from the formatted addresses list
# # I love list comprehensions!
# zip_list = [x.split(',')[-2][-5:] for x in formatted_addresses]

# df['Imputed Zip Code'] = zip_list

# def get_zips(x):
#     if x == ' WA' or x == 'ngton':
#         return 0
#     else:
#         return x

# df['Imputed Zip Code'] = df['Imputed Zip Code'].apply(get_zips)

# df['Imputed Zip Code'] = df['Imputed Zip Code'].astype(int)

In [47]:
# 205 Unique Neighborhoods. Should be sufficient for Walk Score/Transit Score/Bike Score etc. for our purposes.
df['Neighborhood'].nunique()

205

In [48]:
# Initialize a numpy array with unique neighborhoods, that we will later use to scrape data from the web
unique_neighborhoods = np.array(df['Neighborhood'].value_counts().index)

In [54]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'Address',
       'Neighborhood'],
      dtype='object')

In [165]:
adds = df['Address']

In [60]:
adds = adds.apply(lambda x: x.split(','))

In [68]:
adds = pd.DataFrame(adds)

In [160]:
adds

                                                 Address
0          [6101 S Cooper St,  Seattle,  WA 98118,  USA]
1           [860 NE 127th St,  Seattle,  WA 98125,  USA]
2         [15098 81st Ave NE,  Kenmore,  WA 98028,  USA]
3      [9247 Fauntleroy Way SW,  Seattle,  WA 98136, ...
4         [757 222nd Pl NE,  Sammamish,  WA 98074,  USA]
5      [25005 NE Patterson Way,  Redmond,  WA 98053, ...
6        [505 S 325th St,  Federal Way,  WA 98003,  USA]
7       [21413 15th Ave S,  Des Moines,  WA 98198,  USA]
8           [209 SW 102nd St,  Seattle,  WA 98146,  USA]
9      [26019 232nd Pl SE,  Maple Valley,  WA 98038, ...
10        [1008 145th Pl SE,  Bellevue,  WA 98007,  USA]
11          [3435 NE 85th St,  Seattle,  WA 98115,  USA]
12         [17617 83rd Pl NE,  Kenmore,  WA 98028,  USA]
13       [305 221st Ave NE,  Sammamish,  WA 98074,  USA]
14          [2814 NW 56th St,  Seattle,  WA 98107,  USA]
15         [3608 33rd Ave SW,  Seattle,  WA 98126,  USA]
16         [14028 282nd Ln NE,  Duvall,  WA 98019,  USA]
17           [1211 N 50th St,  Seattle,  WA 98103,  USA]
18             [25 Pike St NE,  Auburn,  WA 98002,  USA]
19      [2202 S 300th St,  Federal Way,  WA 98003,  USA]
20     [10037 Interlake Ave N,  Seattle,  WA 98133,  ...
21     [8134 SE 83rd St,  Mercer Island,  WA 98040,  ...
22         [12813 SE 307th Pl,  Auburn,  WA 98092,  USA]
23           [13107 SE 277th Pl,  Kent,  WA 98030,  USA]
24           [12724 SE 254th Ct,  Kent,  WA 98030,  USA]
25               [227 I St SE,  Auburn,  WA 98002,  USA]
26           [2215 2nd Ave W,  Seattle,  WA 98119,  USA]
27       [1414 E Harrison St,  Seattle,  WA 98112,  USA]
28         [9109 23rd Ave NE,  Seattle,  WA 98115,  USA]
29       [17260 NE 119th Way,  Redmond,  WA 98052,  USA]
...                                                  ...
21583   [2348 Fairview Ave E,  Seattle,  WA 98102,  USA]
21584      [4542 41st Ave SW,  Seattle,  WA 98116,  USA]
21585       [21608 SE 299th Way,  Kent,  WA 98042,  USA]
21586       [1751 NW 58th St,  Seattle,  WA 98107,  USA]
21587    [1725 NE 145th St,  Shoreline,  WA 98155,  USA]
21588  [5238,  1427 NW 65th St,  Seattle,  WA 98117, ...
21589  [28458 239th Pl SE,  Maple Valley,  WA 98038, ...
21590    [4502 205th Pl NE,  Sammamish,  WA 98074,  USA]
21591      [11451 80th Ave S,  Seattle,  WA 98178,  USA]
21592    [3902 Whitman Ave N,  Seattle,  WA 98103,  USA]
21593     [7515 SE 76th St,  Newcastle,  WA 98056,  USA]
21594   [25305 176th Pl SE,  Covington,  WA 98042,  USA]
21595    [3809 Whitman Ave N,  Seattle,  WA 98103,  USA]
21596         [6558 NE 1st St,  Renton,  WA 98059,  USA]
21597  [8704 SE 45th St,  Mercer Island,  WA 98040,  ...
21598        [5637 S 344th Ct,  Auburn,  WA 98001,  USA]
21599      [21837 NE 97th Pl,  Redmond,  WA 98053,  USA]
21600     [10524 NE 24th St,  Bellevue,  WA 98004,  USA]
21601  [9221B,  Roosevelt Way NE,  Seattle,  WA 98115...
21602  [25510 Lawson St,  Black Diamond,  WA 98010,  ...
21603  [6930 Elderberry Ave SE,  Snoqualmie,  WA 9806...
21604       [3656 36th Ave S,  Seattle,  WA 98144,  USA]
21605        [3943 NE 24th Ct,  Renton,  WA 98056,  USA]
21606      [5426 Beach Dr SW,  Seattle,  WA 98136,  USA]
21607      [3012 60th Ave SW,  Seattle,  WA 98116,  USA]
21608         [929 N 97th St,  Seattle,  WA 98103,  USA]
21609      [2245 SW 104th St,  Seattle,  WA 98146,  USA]
21610        [902 26th Ave S,  Seattle,  WA 98144,  USA]
21611  [2157 NW Boulder Way Dr,  Issaquah,  WA 98027,...
21612        [916 26th Ave S,  Seattle,  WA 98144,  USA]

[21613 rows x 1 columns]

In [163]:
# Parsing from the address column to get individual street numbers, cities, etc. to feed into Census
street_add = adds['Address'].apply(lambda x: x[0])

city = adds['Address'].apply(lambda x: x[1])

state = 'WA'

zip = adds['Address'].apply(lambda x: x[2][4:])

In [142]:
# Add a state column that doesn't have any wrong values
state = adds['Address'].apply(lambda x: x[2][1:3])

state = pd.DataFrame(state)

state['Address'] = 'WA'

state['Address'].value_counts()

WA    21613
Name: Address, dtype: int64

In [145]:
output = pd.concat([street_add, city, state, zip], axis=1, names=None)

In [289]:
output1 = output.iloc[8000:16000,:]

In [291]:
output1.head()

                 Address            Address Address Address
8000   10261 39th Ave SW            Seattle      WA   98146
8001   17526 47th Ave NE   Lake Forest Park      WA   98155
8002   16116 NE 107th Ct            Redmond      WA   98052
8003   7024 126th Ave NE           Kirkland      WA   98033
8004  17242 164th Way SE             Renton      WA   98058

In [212]:
output1.to_csv('24000.csv')

In [172]:
new = pd.read_csv('output.csv')

In [362]:
census.head(3)

,index_num,Street,Match,Precision,Full address,loc,loc2,A,B,C,D,E
55,0,"6101 S Cooper St, Seattle, WA, 98118",Match,Non_Exact,"6101 S COOPER ST, SEATTLE, WA, 98118","-122.25696,47.51166",239766052.0,R,53.0,33.0,11900.0,NaN
53,1,"860 NE 127th St, Seattle, WA, 98125",Match,Non_Exact,"860 NE 127TH ST, SEATTLE, WA, 98125","-122.31958,47.721283",186716651.0,L,53.0,33.0,200.0,NaN
51,2,"15098 81st Ave NE, Kenmore, WA, 98028",Match,Exact,"15098 81ST AVE NE, KENMORE, WA, 98028","-122.23289,47.73783",239770253.0,R,53.0,33.0,22102.0,NaN

In [363]:
df.head(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,long,sqft_living15,sqft_lot15,Address,Neighborhood,walk_score,bike_score,transit_score,pers_crime_score,prop_crime_score
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,...,-122.257,1340,5650,"6101 S Cooper St, Seattle, WA 98118, USA",Rainier Beach,NaN,NaN,NaN,NaN,NaN
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,...,-122.319,1690,7639,"860 NE 127th St, Seattle, WA 98125, USA",North Seattle,NaN,NaN,NaN,NaN,NaN
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,0,...,-122.233,2720,8062,"15098 81st Ave NE, Kenmore, WA 98028, USA",Kenmore,NaN,NaN,NaN,NaN,NaN

In [364]:
df.tail(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,long,sqft_living15,sqft_lot15,Address,Neighborhood,walk_score,bike_score,transit_score,pers_crime_score,prop_crime_score
21610,1523300141,20140623T000000,402101,2,0.75,1020,1350,2.0,0,0,...,-122.299,1020,2007,"902 26th Ave S, Seattle, WA 98144, USA",Atlantic,NaN,NaN,NaN,NaN,NaN
21611,291310100,20150116T000000,400000,3,2.50,1600,2388,2.0,0,0,...,-122.069,1410,1287,"2157 NW Boulder Way Dr, Issaquah, WA 98027, USA",Talus,NaN,NaN,NaN,NaN,NaN
21612,1523300157,20141015T000000,325000,2,0.75,1020,1076,2.0,0,0,...,-122.299,1020,1357,"916 26th Ave S, Seattle, WA 98144, USA",Atlantic,NaN,NaN,NaN,NaN,NaN

In [365]:
census.tail(3)

,index_num,Street,Match,Precision,Full address,loc,loc2,A,B,C,D,E
3839,21610,"902 26th Ave S, Seattle, WA, 98144",Match,Exact,"902 26TH AVE S, SEATTLE, WA, 98144","-122.29906,47.594433",186593301.0,L,53.0,33.0,8900.0,NaN
3837,21611,"2157 NW Boulder Way Dr, Issaquah, WA, 98027",Match,Exact,"2157 NW BOULDER WAY DR, ISSAQUAH, WA, 98027","-122.06923,47.53435",187104382.0,L,53.0,33.0,25006.0,NaN
3845,21612,"916 26th Ave S, Seattle, WA, 98144",Match,Exact,"916 26TH AVE S, SEATTLE, WA, 98144","-122.29906,47.594334",186593301.0,L,53.0,33.0,8900.0,NaN

In [192]:
new = new[:10]

In [187]:
df3 = pd.read_csv('census_geocode_data/GeocodeResults - 1.csv')

In [189]:
df3.head(10)

,,,,,,,,,Unnamed: 0,"Address, Address, Address, Address",No_Match
6873,"6719 Silent Creek Ave SE, Snoqualmie, WA, 98065",Match,Exact,"6719 SILENT CREEK AVE SE, SNOQUALMIE, WA, 98065","-121.8784,47.540737",639757526.0,R,53.0,33.0,32602.0,NaN
6874,"14718 NE 16th St, Bellevue, WA, 98007",Tie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6871,"26012 18th Ave S, Des Moines, WA, 98198",Match,Exact,"26012 18TH AVE S, DES MOINES, WA, 98198","-122.31009,47.36838",619973594.0,R,53.0,33.0,30003.0,NaN
6872,"9735 NE 138th Pl, Kirkland, WA, 98034",Match,Non_Exact,"9735 NE 138TH PL, KIRKLAND, WA, 98034","-122.21162,47.724415",239780830.0,L,53.0,33.0,22202.0,NaN
6870,"15210 Bridle Crest Trail, Redmond, WA, 98052",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
531,"2904 28th St SE, Auburn, WA, 98092",Match,Exact,"2904 28TH ST SE, AUBURN, WA, 98092","-122.190445,47.28541",186656868.0,R,53.0,33.0,31100.0,NaN
530,"21315 SE 269th St, Maple Valley, WA, 98038",Match,Non_Exact,"21315 SE 269TH ST, MAPLE VALLEY, WA, 98038","-122.05633,47.360542",239781411.0,R,53.0,33.0,32008.0,NaN
2951,"15436 SE 20th Pl, Bellevue, WA, 98007",Match,Non_Exact,"15436 SE 20TH PL, BELLEVUE, WA, 98007","-122.13292,47.592213",186614363.0,L,53.0,33.0,23401.0,NaN
6869,"27369 245th Ave SE, Maple Valley, WA, 98038",Match,Exact,"27369 245TH AVE SE, MAPLE VALLEY, WA, 98038","-122.01567,47.356506",186958433.0,R,53.0,33.0,31603.0,NaN
2950,"1819 N 145th St, Shoreline, WA, 98133",Match,Non_Exact,"1819 N 145TH ST, SHORELINE, WA, 98133","-122.33673,47.734127",186574963.0,R,53.0,33.0,300.0,NaN

In [222]:
census_1 = pd.read_csv('census_geocode_data/0 - 8000.csv', header=None)

In [225]:
census_2 = pd.read_csv('census_geocode_data/8-16000.csv', header=None)

In [258]:
census_3 = pd.read_csv('census_geocode_data/24000_csv.csv', header=None)

In [280]:
census = pd.concat([census_1, census_2, census_3], ignore_index=False)

In [295]:
names=['index_num', 'Street', 'Match', 'Precision', 'Full address', 'loc', 'loc2', 'A', 'B', 'C', 'D', 'E']

In [296]:
census.columns = names

In [261]:
len(census_1)

8000

In [265]:
census_3.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11
0,16902,"14444 129th Ave NE, Kirkland, WA, 98034",Match,Non_Exact,"14444 129TH PL NE, KIRKLAND, WA, 98034","-122.16729,47.73239",186600250.0,R,53.0,33.0,21906.0,NaN
1,20439,"803 SW 4th Pl, Renton, WA, 98057",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [303]:
census.sort_values('index_num', inplace=True)

In [304]:
census.tail()

,index_num,Street,Match,Precision,Full address,loc,loc2,A,B,C,D,E
3862,21608,"929 N 97th St, Seattle, WA, 98103",Match,Non_Exact,"929 N 97TH ST, SEATTLE, WA, 98103","-122.34681,47.699615",239761412.0,R,53.0,33.0,1300.0,NaN
3832,21609,"2245 SW 104th St, Seattle, WA, 98146",Match,Non_Exact,"2245 SW 104TH ST, SEATTLE, WA, 98146","-122.36205,47.51002",186623179.0,L,53.0,33.0,26600.0,NaN
3839,21610,"902 26th Ave S, Seattle, WA, 98144",Match,Exact,"902 26TH AVE S, SEATTLE, WA, 98144","-122.29906,47.594433",186593301.0,L,53.0,33.0,8900.0,NaN
3837,21611,"2157 NW Boulder Way Dr, Issaquah, WA, 98027",Match,Exact,"2157 NW BOULDER WAY DR, ISSAQUAH, WA, 98027","-122.06923,47.53435",187104382.0,L,53.0,33.0,25006.0,NaN
3845,21612,"916 26th Ave S, Seattle, WA, 98144",Match,Exact,"916 26TH AVE S, SEATTLE, WA, 98144","-122.29906,47.594334",186593301.0,L,53.0,33.0,8900.0,NaN

In [308]:
# for col in ['B', 'C', 'D']:
#     census[col] = census[col].astype('int')

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [305]:
df.tail()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,Address,Neighborhood
21608,263000018,20140521T000000,360000,3,2.50,1530,1131,3.0,0,0,...,0,2009,0,98103,47.6993,-122.346,1530,1509,"929 N 97th St, Seattle, WA 98103, USA",Greenwood
21609,6600060120,20150223T000000,400000,4,2.50,2310,5813,2.0,0,0,...,0,2014,0,98146,47.5107,-122.362,1830,7200,"2245 SW 104th St, Seattle, WA 98146, USA",Highline
21610,1523300141,20140623T000000,402101,2,0.75,1020,1350,2.0,0,0,...,0,2009,0,98144,47.5944,-122.299,1020,2007,"902 26th Ave S, Seattle, WA 98144, USA",Atlantic
21611,291310100,20150116T000000,400000,3,2.50,1600,2388,2.0,0,0,...,0,2004,0,98027,47.5345,-122.069,1410,1287,"2157 NW Boulder Way Dr, Issaquah, WA 98027, USA",Talus
21612,1523300157,20141015T000000,325000,2,0.75,1020,1076,2.0,0,0,...,0,2008,0,98144,47.5941,-122.299,1020,1357,"916 26th Ave S, Seattle, WA 98144, USA",Atlantic

In [53]:
df.iloc[0, df.columns.get_loc('walk_score')] = 4

In [54]:
df.head(2)

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,sqft_lot15,Address,Neighborhood,walk_score,bike_score,transit_score,pers_crime_score,prop_crime_score,GEOID,income
0,0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,...,5650,"6101 S Cooper St, Seattle, WA 98118, USA",Rainier Beach,4.0,NaN,NaN,NaN,NaN,53033011900,71524.0
1,1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,...,7639,"860 NE 127th St, Seattle, WA 98125, USA",North Seattle,NaN,NaN,NaN,NaN,NaN,53033000200,56208.0

In [314]:
df.to_csv('dataframe 10.05.18 4 PM')

16000.csv                    TEST.csv
24000.csv                    Walk Score Scraping.ipynb
8000.csv                     census_geocode_data
Housing Data.ipynb           dataframe 10.05.18 4 PM
Luther.jpg                   formatted_addresses_csv.csv
Project Luther - Proposal.md kc_house_data.csv
README.md                    neighborhood_csv.csv

In [23]:
# # Create dicts for Walk, Transit, & Bike Scores
# walk_scores = defaultdict(str)
# transit_scores = defaultdict(str)
# bike_scores = defaultdict(str)

# # Create dicts for Personal & Property Crime Scores
# personal_crime_scores = defaultdict(str)
# property_crime_scores = defaultdict(str)

In [56]:
address = '1436 19th Ave., Seattle WA'
url_address = address.lower().replace(",", "").replace('.', '').replace(" ", "-")
print(new)

1436-19th-ave-seattle-wa

In [107]:
# Must have started a Webdriver/Selenium session, e.g.:


def get_walk_scores(start, num_records_to_fetch):

    count = 0
    error_count = 0
    sleep_times = []
    
    for i in range(start, start + num_records_to_fetch + 1):
        address = df.iloc[i, df.columns.get_loc('Address')]
        zipcode = df.iloc[i, df.columns.get_loc('zipcode')]
        
        if count==0:
            # Fetch the URL
            driver = webdriver.Chrome(chromedriver)
            url_address = address.lower().replace(",", "").replace('.', '').replace(" ", "-")
            driver.get(f'https://www.walkscore.com/score/{url_address}')
            time.sleep(5)
        
        # Use search bar to get our next page
        
        try:
#             start_time = time.time()
            url_address = address.lower().replace(",", "").replace('.', '').replace(" ", "-")
            driver.get(f'https://www.walkscore.com/score/{url_address}')
#             time.sleep(1)
            
        except:
            input_element = driver.find_element_by_id('addrbar-street')
            input_element.clear()
            input_element.click()
            input_element.send_keys(address)

            input_element.send_keys(Keys.ENTER)
            error_count += 1
            print('Search bar didn\'t work. Entering address manually.')

        
        # Sleep a bit
#         sleep_time = abs(1 + (np.random.randn(1)))
#         time.sleep(sleep_time)
#         sleep_times.append(sleep_time)
#         print(f'Sleeping for {sleep_time} seconds.')
        
        # Read the html
        html = driver.page_source
        soup=BeautifulSoup(html)

        # Getting Walk, Transit, and Bike Scores
        image_tags = soup.find_all('img')
        
        try:
            for score in image_tags:
                if "Score of" in str(score):
                    
                    z = score['src']
                    
                    #Figure out which score (Walk/Transit/Bike) this is
                    if 'walk/' in z:
                        zip_code_walk_scores[zipcode] = z[-6:-4]
                        df.iloc[i, df.columns.get_loc('walk_score')] = z[-6:-4]
                        print(f'Walk Score: {z[-6:-4]}')
                    if 'transit/' in z:
                        zip_code_transit_scores[zipcode] = z[-6:-4]
                        df.iloc[i, df.columns.get_loc('transit_score')] = z[-6:-4]
                    if 'bike/' in z:
                        zip_code_bike_scores[zipcode] = z[-6:-4]
                        df.iloc[i, df.columns.get_loc('bike_score')] = z[-6:-4]

        except:
            print(f'No Walk/Bike/Transit Score for {address}')

        # Getting Personal & Property Crime Grades
        results = soup.find_all("div", {"class" : "crime-grade"})
        parsed_grades = []
            
        try:
            for grade in results:
                parsed_grades.append(grade.text)

            zip_code_pers_crime_scores[zipcode] = parsed_grades[0][2]
            zip_code_prop_crime_scores[zipcode] = parsed_grades[1][2]
            
            df.iloc[i, df.columns.get_loc('pers_crime_score')] = parsed_grades[0][2]
            df.iloc[i, df.columns.get_loc('prop_crime_score')] = parsed_grades[1][2]
            
        except:
            pass
        
        print(f'{count} pages scraped. On index {i}.')
        
        count +=1
        
        if count % 10 == 0:
#             print(f'Average sleep time between scrapes: {np.mean(sleep_times)} seconds.')
            print(f'Average error percentage: {(error_count/count) * 100}')
        
        if count % 25 == 0:
            df.to_csv('backup_df_from_scraping.csv')
            print('Backed up dataframe.')
#             time.sleep(randint(10, 35))
            continue
            
        if count % 2000 == 0:
            time.sleep(randint(60, 600))
            driver = webdriver.Chrome(chromedriver)
            count = 0
            
#         stop_time = time.time()
#         elapsed_time = stop_time - start_time

In [98]:
# df = pd.read_csv('backup_df_from_scraping.csv')

In [103]:
df.iloc[1870:, :]

,Unnamed: 0,Unnamed: 0.1,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,...,sqft_lot15,Address,Neighborhood,walk_score,bike_score,transit_score,pers_crime_score,prop_crime_score,GEOID,income
1870,1870,1870,7942601805,20140911T000000,618000,3,2.50,2340,3630,2.0,...,5120,"1919 E Jefferson St, Seattle, WA 98122, USA",Central District,86,81,73,C,D,53033008700,56700.0
1871,1871,1871,1887500045,20141226T000000,247500,4,2.00,2460,5921,1.0,...,6648,"1513 E Main St, Auburn, WA 98002, USA",Auburn,52,NaN,31,NaN,NaN,53033000000,NaN
1872,1872,1872,5505700055,20140730T000000,345000,5,3.00,2080,6150,1.0,...,6150,"49th Ave SW & SW Charlestown St, Seattle, WA 9...",North Admiral,55,43,42,A,A,53033000000,NaN
1873,1873,1873,3886902505,20150311T000000,616300,3,2.00,1700,8400,2.0,...,9000,"112th Ave NE & NE 91st St, Kirkland, WA 98033,...",Highlands,43,NaN,45,NaN,NaN,53033000000,NaN
1874,1874,1874,6703100135,20150116T000000,348000,3,1.50,1330,6768,1.0,...,6910,"14802 9th Pl NE, Shoreline, WA 98155, USA",Ridgecrest,45,NaN,51,NaN,NaN,53033021100,70137.0
1875,1875,1875,1552520070,20141202T000000,425000,3,2.50,1630,10762,1.0,...,10762,"12401 NE 171st Pl, Woodinville, WA 98072, USA",Bothell,37,NaN,NaN,NaN,NaN,53033021906,81250.0
1876,1876,1876,8163300320,20140614T000000,850000,5,2.75,2920,11880,1.0,...,14491,"1491 Sycamore Dr SE, Issaquah, WA 98027, USA",Sycamore,/6,NaN,15,NaN,NaN,53033032104,82456.0
1877,1877,1877,1853081000,20140717T000000,820000,5,2.75,2830,6137,2.0,...,6285,"1871 211th Ave SE, Sammamish, WA 98075, USA",Sammamish,/3,NaN,/0,NaN,NaN,53033000000,NaN
1878,1878,1878,4403600240,20150113T000000,832000,4,2.25,3190,52953,2.0,...,51400,"19745 SE 17th St, Issaquah, WA 98075, USA",Sammamish,/0,NaN,/0,NaN,NaN,53033032203,125636.0
1879,1879,1879,3885803625,20141203T000000,835000,3,1.75,1490,3840,2.0,...,8500,"732 16th Ave W, Kirkland, WA 98033, USA",Market,33,NaN,39,NaN,NaN,53033022400,111754.0
1880,1880,1880,869700370,20150410T000000,350000,3,2.50,1630,3425,2.0,...,3425,"522 Elma Ave NE, Renton, WA 98059, USA",Renton,NaN,NaN,NaN,NaN,NaN,53033025102,104469.0
1881,1881,1881,4307301160,20140722T000000,349000,4,2.50,2280,4096,2.0,...,3600,"107 Glennwood Pl SE, Renton, WA 98056, USA",Renton,NaN,NaN,NaN,NaN,NaN,53033025601,60833.0
1882,1882,1882,2402100575,20140613T000000,1125000,6,3.75,3010,4360,2.0,...,5160,"2025 N 80th St, Seattle, WA 98103, USA",Green Lake,NaN,NaN,NaN,NaN,NaN,53033002700,111661.0
1883,1883,1883,4307350990,20150309T000000,320000,3,2.50,1590,3480,2.0,...,3480,"309 Kirkland Pl SE, Renton, WA 98056, USA",Renton,NaN,NaN,NaN,NaN,NaN,53033025601,60833.0
1884,1884,1884,2873000260,20150305T000000,150000,3,1.00,1250,7210,1.0,...,7210,"13001 SE 206th Pl, Kent, WA 98031, USA",Kent,NaN,NaN,NaN,NaN,NaN,53033029307,94375.0
1885,1885,1885,795001600,20141125T000000,340000,3,1.00,1710,10190,1.0,...,6251,"10782 Myers Way S, Seattle, WA 98168, USA",Highline,NaN,NaN,NaN,NaN,NaN,53033026500,29107.0
1886,1886,1886,98030140,20141013T000000,785500,4,4.00,3280,8448,2.0,...,8030,"2939 275th Avenue Southeast, Issaquah, WA 9802...",Sammamish,NaN,NaN,NaN,NaN,NaN,53033000000,NaN
1887,1887,1887,5409800140,20150217T000000,410500,4,2.50,3362,8601,2.0,...,8601,"83 23rd Ave, Milton, WA 98354, USA",Milton,NaN,NaN,NaN,NaN,NaN,53033030403,73917.0
1888,1888,1888,9253900354,20140701T000000,580000,3,2.50,2200,11000,2.0,...,12851,"2038 W Lake Sammamish Pkwy SE, Bellevue, WA 98...",West Lake Sammamish,NaN,NaN,NaN,NaN,NaN,53033023403,93387.0
1889,1889,1889,3319500922,20150421T000000,345000,2,1.50,830,920,2.0,...,1200,"2015 S Main St, Seattle, WA 98144, USA",Atlantic,NaN,NaN,NaN,NaN,NaN,53033009000,44571.0
1890,1890,1890,3404700041,20140929T000000,550000,3,2.25,2160,37000,1.5,...,37000,"14270 Redmond-Woodinville Rd NE, Redmond, WA 9...",Redmond,NaN,NaN,NaN,NaN,NaN,53033000000,NaN
1891,1891,1891,2314300200,20141021T000000,449500,4,3.00,2580,7299,2.0,...,6165,"15449 141st Pl SE, Renton, WA 98058, USA",Renton,NaN,NaN,NaN,NaN,NaN,53033031907,99038.0
1892,1892,1892,9265700045,20140624T000000,300000,3,1.00,2150,7007,1.0,...,9000,"18404 3rd Pl NW, Shoreline, WA 98177, USA",Richmond Highlands,NaN,NaN,NaN,NaN,NaN,53033020800,82344.0
1893,1893,1893,3528000260,20141111T000000,915000,4,2.50,3510,28052,2.0,...,28295,"6751 214th Ave NE, Redmond, WA 98053, USA",Redmond,NaN,NaN,NaN,NaN,NaN,53033032328,112917.0
1894,1894,1894,3066120030,20150127T000000,1575000,4,3.75,3810,9916,2.0,...,11250,"4010 78th Way SE, Mercer Island, WA 98040, USA",Mercer Island,NaN,NaN,NaN,NaN,NaN,53033024500,167361.0
1895,1895,1895,4278900055,20140528T000000,599000,4,2.75,2020,2750,1.0,...,4000,"3206 E Terrace St, Seattle, WA 98122, USA",Central District,NaN,NaN,NaN,NaN,NaN,53033007800,137358.0
1896,1896,1896,9512000140,20140505T000000,755000,4,2.50,2120,10202,1.0,...,10762,"12647 SE 27th St, Bellevue, WA 98005, USA",Woodridge,NaN,NaN,NaN,NaN,NaN,53033023500,110568.0
1897,1897,1897,6381500505,20150402T000000,400000,3,1.00,1250,7157,1.0,...,6796,"14081 24th Ave NE, Seattle, WA 98125, USA",Lake City,NaN,NaN,NaN,NaN,NaN,53033000200,56208.0
1898,1898,1898,1697000400,20150330T000000,133000,3,1.00,980,9115,1.0,...,8716,"1603 S 253rd Pl, Des Moines, WA 98198, USA",Des Moines,NaN,NaN,NaN,NaN,NaN,53033029003,55747.0
1899,1899,1899,2548100140,20150116T000000,330000,4,1.50,1250,8400,1.0,...,8400,"Seattle Walk Stars, 1208 NE 168th St, Shorelin...",Ridgecrest,NaN,NaN,NaN,NaN,NaN,53033000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21583,21583,21583,2025049203,20140610T000000,399950,2,1.00,710,1157,2.0,...,1173,"2348 Fairview Ave E, Seattle, WA 98102, USA",Eastlake,NaN,NaN,NaN,NaN,NaN,53033006100,76980.0
21584,21584,21584,952006823,20141202T000000,380000,3,2.50,1260,900,2.0,...,1415,"4542 41st Ave SW, Seattle, WA 98116, USA",Genesee,NaN,NaN,NaN,NaN,NaN,53033010500,66794.0
21585,21585,21585,3832050760,20140828T000000,270000,3,2.50,1870,5000,2.0,...,5399,"21608 SE 299th Way, Kent, WA 98042, USA",Kent,NaN,NaN,NaN,NaN,NaN,53033031601,99730.0
21586,21586,21586,2767604724,20141015T000000,505000,2,2.50,1430,1201,3.0,...,1249,"1751 NW 58th St, Seattle, WA 98107, USA",Old Ballard,NaN,NaN,NaN,NaN,NaN,53033004700,72396.0
21587,21587,21587,6632300207,20150305T000000,385000,3,2.50,1520,1488,3.0,...,1497,"1725 NE 145th St, Shoreline, WA 98155, USA",Lake City,NaN,NaN,NaN,NaN,NaN,53033000000,NaN
21588,21588,21588,2767600688,20141113T000000,414500,2,1.50,1210,1278,2.0,...,1118,"5238, 1427 NW 65th St, Seattle, WA 98117, Unit...",Ballard,NaN,NaN,NaN,NaN,NaN,53033000000,NaN
21589,21589,21589,7570050450,20140910T000000,347500,3,2.50,2540,4760,2.0,...,4571,"28458 239th Pl SE, Maple Valley, WA 98038, USA",Maple Valley,NaN,NaN,NaN,NaN,NaN,53033031604,102202.0
21590,21590,21590,7430200100,20140514T000000,1222500,4,3.50,4910,9444,1.5,...,11063,"4502 205th Pl NE, Sammamish, WA 98074, USA",Sammamish,NaN,NaN,NaN,NaN,NaN,53033032316,164599.0
21591,21591,21591,4140940150,20141002T000000,572000,4,2.75,2770,3852,2.0,...,5641,"11451 80th Ave S, Seattle, WA 98178, USA",Seattle,NaN,NaN,NaN,NaN,NaN,53033026001,73750.0
21592,21592,21592,1931300412,20150416T000000,475000,3,2.25,1190,1200,3.0,...,1224,"3902 Whitman Ave N, Seattle, WA 98103, USA",Fremont,NaN,NaN,NaN,NaN,NaN,53033005400,84728.0
21593,21593,21593,8672200110,20150317T000000,1088000,5,3.75,4170,8142,2.0,...,7980,"7515 SE 76th St, Newcastle, WA 98056, USA",Newcastle,NaN,NaN,NaN,NaN,NaN,53033000000,NaN
21594,21594,21594,5087900040,20141017T000000,350000,4,2.75,2500,5995,2.0,...,5988,"25305 176th Pl SE, Covington, WA 98042, USA",Covington,NaN,NaN,NaN,NaN,NaN,53033031705,107311.0
21595,21595,21595,1972201967,20141031T000000,520000,2,2.25,1530,981,3.0,...,1282,"3809 Whitman Ave N, Seattle, WA 98103, USA",Fremont,NaN,NaN,NaN,NaN,NaN,53033005400,84728.0
21596,21596,21596,7502800100,20140813T000000,679950,5,2.75,3600,9437,2.0,...,9421,"6558 NE 1st St, Renton, WA 98059, USA",Renton,NaN,NaN,NaN,NaN,NaN,53033000000,NaN
21597,21597,21597,191100405,20150421T000000,1575000,4,3.25,3410,10125,2.0,...,10125,"8704 SE 45th St, Mercer Island, WA 98040, USA",Mercer Island,NaN,NaN,NaN,NaN,NaN,53033024500,167361.0
21598,21598,21598,8956200760,20141013T000000,541800,4,2.50,3118,7866,2.0,...,6500,"5637 S 344th Ct, Auburn, WA 98001, USA",Auburn,NaN,NaN,NaN,NaN,NaN,53033030401,73497.0
21599,21599,21599,7202300110,20140915T000000,810000,4,3.00,3990,7838,2.0,...,6814,"21837 NE 97th Pl, Redmond, WA 98053, USA",Redmond Ridge,NaN,NaN,NaN,NaN,NaN,53033032329,136616.0
21600,21600,21600,249000205,20141015T000000,1537000,5,3.75,4470,8088,2.0,...,8964,"10524 NE 24th St, Bellevue, WA 98004, USA",Northwest Bellevue,NaN,NaN,NaN,NaN,NaN,53033024000,107479.0
21601,21601,21601,5100403806,20150407T000000,467000,3,2.50,1425,1179,3.0,...,1253,"9221B, Roosevelt Way NE, Seattle, WA 98115, USA",Maple Leaf,NaN,NaN,NaN,NaN,NaN,53033000000,NaN
21602,21602,21602,844000965,20140626T000000,224000,3,1.75,1500,11968,1.0,...,11303,"25510 Lawson St, Black Diamond, WA 98010, USA",Black Diamond,NaN,NaN,NaN,NaN,NaN,53033031603,82067.0
21603,21603,21603,7852140040,20140825T000000,507250,3,2.50,2270,5536,2.0,...,5731,"6930 Elderberry Ave SE, Snoqualmie, WA 98065, USA",Snoqualmie Ridge,NaN,NaN,NaN,NaN,NaN,53033000000,NaN
21604,21604,21604,9834201367,20150126T000000,429000,3,2.00,1490,1126,3.0,...,1230,"3656 36th Ave S, Seattle, WA 98144, USA",Mt. Baker,NaN,NaN,NaN,NaN,NaN,53033010100,59275.0
21605,21605,21605,3448900210,20141014T000000,610685,4,2.50,2520,6023,2.0,...,6023,"3943 NE 24th Ct, Renton, WA 98056, USA",Renton,NaN,NaN,NaN,NaN,NaN,53033000000,NaN
21606,21606,21606,7936000429,20150326T000000,1007500,4,3.50,3510,7200,2.0,...,6200,"5426 Beach Dr SW, Seattle, WA 98136, USA",Southwest,NaN,NaN,NaN,NaN,NaN,53033010600,90208.0
21607,21607,21607,2997800021,20150219T000000,475000,3,2.50,1310,1294,2.0,...,1265,"3012 60th Ave SW, Seattle, WA 98116, USA",Alki,NaN,NaN,NaN,NaN,NaN,53033009701,82333.0
21608,21608,21608,263000018,20140521T000000,360000,3,2.50,1530,1131,3.0,...,1509,"929 N 97th St, Seattle, WA 98103, USA",Greenwood,NaN,NaN,NaN,NaN,NaN,53033001300,56744.0
21609,21609,21609,6600060120,20150223T000000,400000,4,2.50,2310,5813,2.0,...,7200,"2245 SW 104th St, Seattle, WA 98146, USA",Highline,NaN,NaN,NaN,NaN,NaN,53033026600,63799.0
21610,21610,21610,1523300141,20140623T000000,402101,2,0.75,1020,1350,2.0,...,2007,"902 26th Ave S, Seattle, WA 98144, USA",Atlantic,NaN,NaN,NaN,NaN,NaN,53033008900,79953.0
21611,21611,21611,291310100,20150116T000000,400000,3,2.50,1600,2388,2.0,...,1287,"2157 NW Boulder Way Dr, Issaquah, WA 98027, USA",Talus,NaN,NaN,NaN,NaN,NaN,53033025006,148750.0
21612,21612,21612,1523300157,20141015T000000,325000,2,0.75,1020,1076,2.0,...,1357,"916 26th Ave S, Seattle, WA 98144, USA",Atlantic,NaN,NaN,NaN,NaN,NaN,53033008900,79953.0

In [111]:
# driver = webdriver.Chrome(chromedriver)
# driver.get(f'https://www.walkscore.com/score/819-virginia-st-seattle-wa')
most_recent_record = df[df['walk_score'].isnull() == True].index[0]
get_walk_scores(most_recent_record, 20000)
# get_walk_scores(520,22000)

Walk Score: 48
0 pages scraped. On index 1913.
Walk Score: 37
1 pages scraped. On index 1914.
Walk Score: 77
2 pages scraped. On index 1915.
Walk Score: 42
3 pages scraped. On index 1916.
Walk Score: 17
4 pages scraped. On index 1917.
Walk Score: 16
5 pages scraped. On index 1918.
Walk Score: 78
6 pages scraped. On index 1919.
Walk Score: 59
7 pages scraped. On index 1920.
Walk Score: 12
8 pages scraped. On index 1921.
Walk Score: 30
9 pages scraped. On index 1922.
Average error percentage: 0.0
Walk Score: 32
10 pages scraped. On index 1923.
Walk Score: /7
11 pages scraped. On index 1924.
Walk Score: 39
12 pages scraped. On index 1925.
Walk Score: 31
13 pages scraped. On index 1926.
Walk Score: 38
Walk Score: 38
14 pages scraped. On index 1927.
Walk Score: 35
15 pages scraped. On index 1928.
Walk Score: 89
16 pages scraped. On index 1929.
Walk Score: 29
17 pages scraped. On index 1930.
Walk Score: 30
18 pages scraped. On index 1931.
Walk Score: 53
19 pages scraped. On index 1932.
Average error percentage: 0.0
Walk Score: 23
20 pages scraped. On index 1933.
Walk Score: 72
21 pages scraped. On index 1934.
Walk Score: 52
22 pages scraped. On index 1935.
Walk Score: 27
23 pages scraped. On index 1936.
Walk Score: /7
24 pages scraped. On index 1937.
Backed up dataframe.
Walk Score: 14
25 pages scraped. On index 1938.
Walk Score: /5
26 pages scraped. On index 1939.
Walk Score: 44
27 pages scraped. On index 1940.
Walk Score: 12
28 pages scraped. On index 1941.
Walk Score: 41
29 pages scraped. On index 1942.
Average error percentage: 0.0
Walk Score: 20
30 pages scraped. On index 1943.
Walk Score: 47
31 pages scraped. On index 1944.
Walk Score: 72
32 pages scraped. On index 1945.
Walk Score: /2
33 pages scraped. On index 1946.
Walk Score: 13
34 pages scraped. On index 1947.
Walk Score: 32
35 pages scraped. On index 1948.
Walk Score: /8
36 pages scraped. On index 1949.
Walk Score: 78
37 pages scraped. On index 1950.
Walk Score: 40
38 pages scraped. On index 1951.
Walk Score: 47
39 pages scraped. On index 1952.
Average error percentage: 0.0
Walk Score: 33
40 pages scraped. On index 1953.
Walk Score: 68
41 pages scraped. On index 1954.
Walk Score: 21
42 pages scraped. On index 1955.
Walk Score: /0
43 pages scraped. On index 1956.
Walk Score: 18
44 pages scraped. On index 1957.
Walk Score: /5
Walk Score: /5
45 pages scraped. On index 1958.
Walk Score: 37
46 pages scraped. On index 1959.
Walk Score: 93
47 pages scraped. On index 1960.
Walk Score: 10
48 pages scraped. On index 1961.
Walk Score: 77
49 pages scraped. On index 1962.
Average error percentage: 0.0
Backed up dataframe.
Walk Score: /6
50 pages scraped. On index 1963.
Walk Score: 20
Walk Score: 20
51 pages scraped. On index 1964.
Walk Score: 56
52 pages scraped. On index 1965.
Walk Score: 94
53 pages scraped. On index 1966.
Walk Score: 32
54 pages scraped. On index 1967.
Walk Score: /1
55 pages scraped. On index 1968.
Walk Score: 84
56 pages scraped. On index 1969.
Walk Score: 42
57 pages scraped. On index 1970.
Walk Score: 11
58 pages scraped. On index 1971.
Walk Score: 21
59 pages scraped. On index 1972.
Average error percentage: 0.0
Walk Score: 63
Walk Score: 63
60 pages scraped. On index 1973.
Walk Score: 76
61 pages scraped. On index 1974.
Walk Score: 69
62 pages scraped. On index 1975.
Walk Score: 33
63 pages scraped. On index 1976.
Walk Score: 34
64 pages scraped. On index 1977.
Walk Score: /2
65 pages scraped. On index 1978.
Walk Score: 50
66 pages scraped. On index 1979.
Walk Score: 20
67 pages scraped. On index 1980.
Walk Score: 25
68 pages scraped. On index 1981.
Walk Score: 29
69 pages scraped. On index 1982.
Average error percentage: 0.0
Walk Score: 74
70 pages scraped. On index 1983.
Walk Score: 38
71 pages scraped. On index 1984.
Walk Score: 22
72 pages scraped. On index 1985.
Walk Score: 79
73 pages scraped. On index 1986.
Walk Score: 72
74 pages scraped. On index 1987.
Backed up dataframe.
Walk Score: 69
75 pages scraped. On index 1988.
Walk Score: 30
76 pages scraped. On index 1989.
Walk Score: 12
77 pages scraped. On index 1990.
Walk Score: 30
78 pages scraped. On index 1991.
Walk Score: 25
79 pages scraped. On index 1992.
Average error percentage: 0.0
Walk Score: /7
80 pages scraped. On index 1993.
Walk Score: 76
81 pages scraped. On index 1994.
Walk Score: /2
82 pages scraped. On index 1995.
Walk Score: 40
83 pages scraped. On index 1996.
Walk Score: 67
84 pages scraped. On index 1997.
Walk Score: 49
85 pages scraped. On index 1998.
Walk Score: 32
86 pages scraped. On index 1999.
Walk Score: 68
87 pages scraped. On index 2000.
Walk Score: 29
88 pages scraped. On index 2001.
Walk Score: 69
89 pages scraped. On index 2002.
Average error percentage: 0.0
Walk Score: 64
90 pages scraped. On index 2003.
Walk Score: /7
91 pages scraped. On index 2004.
Walk Score: 58
92 pages scraped. On index 2005.
Walk Score: 71
93 pages scraped. On index 2006.
Walk Score: 65
94 pages scraped. On index 2007.
Walk Score: 68
95 pages scraped. On index 2008.
Walk Score: 24
96 pages scraped. On index 2009.
Walk Score: 11
97 pages scraped. On index 2010.
Walk Score: 35
98 pages scraped. On index 2011.
Walk Score: 23
99 pages scraped. On index 2012.
Average error percentage: 0.0
Backed up dataframe.
Walk Score: 77
100 pages scraped. On index 2013.
Walk Score: /9
101 pages scraped. On index 2014.
Walk Score: /1
102 pages scraped. On index 2015.
Walk Score: 42
103 pages scraped. On index 2016.
Walk Score: 75
104 pages scraped. On index 2017.
Walk Score: 10
105 pages scraped. On index 2018.
Walk Score: 61
106 pages scraped. On index 2019.
Walk Score: 19
107 pages scraped. On index 2020.
Walk Score: 14
108 pages scraped. On index 2021.
Walk Score: 84
109 pages scraped. On index 2022.
Average error percentage: 0.0
Walk Score: 14
110 pages scraped. On index 2023.
Walk Score: /0
111 pages scraped. On index 2024.
Walk Score: 88
112 pages scraped. On index 2025.
Walk Score: 76
113 pages scraped. On index 2026.
Walk Score: 52
114 pages scraped. On index 2027.
Walk Score: 41
115 pages scraped. On index 2028.
Walk Score: /0
116 pages scraped. On index 2029.
Walk Score: 27
117 pages scraped. On index 2030.
Walk Score: 56
118 pages scraped. On index 2031.
Walk Score: 51
119 pages scraped. On index 2032.
Average error percentage: 0.0
Walk Score: 70
120 pages scraped. On index 2033.
Walk Score: /4
121 pages scraped. On index 2034.
Walk Score: 23
122 pages scraped. On index 2035.
Walk Score: 83
123 pages scraped. On index 2036.
Walk Score: 82
124 pages scraped. On index 2037.
Backed up dataframe.
Walk Score: 73
125 pages scraped. On index 2038.
Walk Score: 73
126 pages scraped. On index 2039.
Walk Score: 28
127 pages scraped. On index 2040.
Walk Score: 19
128 pages scraped. On index 2041.
Walk Score: 91
129 pages scraped. On index 2042.
Average error percentage: 0.0
Walk Score: 72
130 pages scraped. On index 2043.
Walk Score: 63
131 pages scraped. On index 2044.
Walk Score: 43
132 pages scraped. On index 2045.
Walk Score: 47
133 pages scraped. On index 2046.
Walk Score: 29
134 pages scraped. On index 2047.
Walk Score: 15
135 pages scraped. On index 2048.
Walk Score: /1
136 pages scraped. On index 2049.
Walk Score: 23
137 pages scraped. On index 2050.
Walk Score: 25
138 pages scraped. On index 2051.
Walk Score: 13
139 pages scraped. On index 2052.
Average error percentage: 0.0
Walk Score: 43
140 pages scraped. On index 2053.
Walk Score: 25
141 pages scraped. On index 2054.
Walk Score: 31
142 pages scraped. On index 2055.
Walk Score: 49
143 pages scraped. On index 2056.
Walk Score: 33
144 pages scraped. On index 2057.
Walk Score: 11
145 pages scraped. On index 2058.
Walk Score: 20
146 pages scraped. On index 2059.
Walk Score: 38
147 pages scraped. On index 2060.
Walk Score: 63
148 pages scraped. On index 2061.
Walk Score: 95
149 pages scraped. On index 2062.
Average error percentage: 0.0
Backed up dataframe.
Walk Score: 70
150 pages scraped. On index 2063.
Walk Score: 43
151 pages scraped. On index 2064.
Walk Score: /9
152 pages scraped. On index 2065.
Walk Score: 30
153 pages scraped. On index 2066.
Walk Score: /5
154 pages scraped. On index 2067.
Walk Score: 14
155 pages scraped. On index 2068.
Walk Score: 83
156 pages scraped. On index 2069.
Walk Score: 84
157 pages scraped. On index 2070.
Walk Score: /1
158 pages scraped. On index 2071.
Walk Score: 46
159 pages scraped. On index 2072.
Average error percentage: 0.0
Walk Score: 76
160 pages scraped. On index 2073.
Walk Score: 73
161 pages scraped. On index 2074.
Walk Score: 30
162 pages scraped. On index 2075.
Walk Score: /5
163 pages scraped. On index 2076.
Walk Score: 74
164 pages scraped. On index 2077.
Walk Score: 11
165 pages scraped. On index 2078.
Walk Score: 86
166 pages scraped. On index 2079.
Walk Score: 81
167 pages scraped. On index 2080.
Walk Score: 47
168 pages scraped. On index 2081.
Walk Score: 18
169 pages scraped. On index 2082.
Average error percentage: 0.0
Walk Score: 35
170 pages scraped. On index 2083.
Walk Score: 44
171 pages scraped. On index 2084.
Walk Score: 39
172 pages scraped. On index 2085.
Walk Score: 37
173 pages scraped. On index 2086.
Walk Score: /4
174 pages scraped. On index 2087.
Backed up dataframe.
Walk Score: 27
175 pages scraped. On index 2088.
Walk Score: /6
176 pages scraped. On index 2089.
Walk Score: 61
177 pages scraped. On index 2090.
Walk Score: 45
178 pages scraped. On index 2091.
Walk Score: 83
179 pages scraped. On index 2092.
Average error percentage: 0.0
Walk Score: 60
180 pages scraped. On index 2093.
Walk Score: 26
181 pages scraped. On index 2094.
Walk Score: 78
182 pages scraped. On index 2095.
Walk Score: 11
183 pages scraped. On index 2096.
Walk Score: 80
184 pages scraped. On index 2097.
Walk Score: 49
185 pages scraped. On index 2098.
Walk Score: 69
186 pages scraped. On index 2099.
Walk Score: 80
187 pages scraped. On index 2100.
Walk Score: 13
188 pages scraped. On index 2101.
Walk Score: 35
189 pages scraped. On index 2102.
Average error percentage: 0.0
Walk Score: 90
190 pages scraped. On index 2103.
Walk Score: 38
191 pages scraped. On index 2104.
Walk Score: 46
192 pages scraped. On index 2105.
Walk Score: 26
193 pages scraped. On index 2106.
Walk Score: /9
194 pages scraped. On index 2107.
Walk Score: /1
195 pages scraped. On index 2108.
Walk Score: 15
196 pages scraped. On index 2109.
Walk Score: 71
197 pages scraped. On index 2110.
Walk Score: 33
198 pages scraped. On index 2111.
Walk Score: 16
199 pages scraped. On index 2112.
Average error percentage: 0.0
Backed up dataframe.
Walk Score: 22
200 pages scraped. On index 2113.
Walk Score: 15
201 pages scraped. On index 2114.
Walk Score: 31
202 pages scraped. On index 2115.
Walk Score: 18
203 pages scraped. On index 2116.
Walk Score: 14
204 pages scraped. On index 2117.
Walk Score: 52
205 pages scraped. On index 2118.
Walk Score: /5
206 pages scraped. On index 2119.
Walk Score: 15
207 pages scraped. On index 2120.
Walk Score: /0
208 pages scraped. On index 2121.
Walk Score: 18
209 pages scraped. On index 2122.
Average error percentage: 0.0
Walk Score: /1
210 pages scraped. On index 2123.
Walk Score: 69
211 pages scraped. On index 2124.
Walk Score: /5
212 pages scraped. On index 2125.
Walk Score: 49
213 pages scraped. On index 2126.
Walk Score: 49
214 pages scraped. On index 2127.
Walk Score: 15
215 pages scraped. On index 2128.
Walk Score: 39
216 pages scraped. On index 2129.
Walk Score: 60
217 pages scraped. On index 2130.
Walk Score: 39
218 pages scraped. On index 2131.
Walk Score: 56
219 pages scraped. On index 2132.
Average error percentage: 0.0
Walk Score: 62
220 pages scraped. On index 2133.
Walk Score: 21
221 pages scraped. On index 2134.
Walk Score: 15
222 pages scraped. On index 2135.
Walk Score: 44
223 pages scraped. On index 2136.
Walk Score: 30
224 pages scraped. On index 2137.
Backed up dataframe.
Walk Score: 26
225 pages scraped. On index 2138.
Walk Score: 82
226 pages scraped. On index 2139.
Walk Score: /5
227 pages scraped. On index 2140.
Walk Score: 37
228 pages scraped. On index 2141.
Walk Score: /5
229 pages scraped. On index 2142.
Average error percentage: 0.0
Walk Score: 24
230 pages scraped. On index 2143.
Walk Score: 18
231 pages scraped. On index 2144.
Walk Score: 62
232 pages scraped. On index 2145.
Walk Score: 19
233 pages scraped. On index 2146.
Walk Score: /6
Walk Score: /6
234 pages scraped. On index 2147.
Walk Score: 90
235 pages scraped. On index 2148.
Walk Score: 43
236 pages scraped. On index 2149.
Walk Score: /2
237 pages scraped. On index 2150.
Walk Score: 39
Walk Score: 39
238 pages scraped. On index 2151.
Walk Score: 24
239 pages scraped. On index 2152.
Average error percentage: 0.0
Walk Score: 71
240 pages scraped. On index 2153.
Walk Score: 52
241 pages scraped. On index 2154.
Walk Score: /1
242 pages scraped. On index 2155.
Walk Score: 73
243 pages scraped. On index 2156.
Walk Score: 28
244 pages scraped. On index 2157.
Walk Score: 21
245 pages scraped. On index 2158.
Walk Score: 28
246 pages scraped. On index 2159.
Walk Score: 75
247 pages scraped. On index 2160.
Walk Score: 18
248 pages scraped. On index 2161.
Walk Score: 30
249 pages scraped. On index 2162.
Average error percentage: 0.0
Backed up dataframe.
Walk Score: 94
250 pages scraped. On index 2163.
Walk Score: 24
251 pages scraped. On index 2164.
Walk Score: 59
252 pages scraped. On index 2165.
Walk Score: 55
253 pages scraped. On index 2166.
Walk Score: 24
254 pages scraped. On index 2167.
Walk Score: 43
255 pages scraped. On index 2168.
Walk Score: 14
256 pages scraped. On index 2169.
Walk Score: /7
257 pages scraped. On index 2170.
Walk Score: 31
258 pages scraped. On index 2171.
Walk Score: 33
259 pages scraped. On index 2172.
Average error percentage: 0.0
Walk Score: 10
260 pages scraped. On index 2173.
Walk Score: 78
261 pages scraped. On index 2174.
Walk Score: 66
262 pages scraped. On index 2175.
Walk Score: 77
263 pages scraped. On index 2176.
Walk Score: 13
264 pages scraped. On index 2177.
Walk Score: 77
265 pages scraped. On index 2178.
Walk Score: /1
266 pages scraped. On index 2179.
Walk Score: 78
267 pages scraped. On index 2180.
Walk Score: 16
268 pages scraped. On index 2181.
Walk Score: 30
269 pages scraped. On index 2182.
Average error percentage: 0.0
Walk Score: 21
270 pages scraped. On index 2183.
Walk Score: /1
271 pages scraped. On index 2184.
Walk Score: 42
272 pages scraped. On index 2185.
Walk Score: 32
273 pages scraped. On index 2186.
Walk Score: 40
274 pages scraped. On index 2187.
Backed up dataframe.
Walk Score: 51
275 pages scraped. On index 2188.
Walk Score: 80
276 pages scraped. On index 2189.
Walk Score: 11
277 pages scraped. On index 2190.
Walk Score: 28
278 pages scraped. On index 2191.
Walk Score: /1
279 pages scraped. On index 2192.
Average error percentage: 0.0
Walk Score: /1
280 pages scraped. On index 2193.
Walk Score: 16
281 pages scraped. On index 2194.
Walk Score: 34
282 pages scraped. On index 2195.
Walk Score: 30
283 pages scraped. On index 2196.
Walk Score: 44
284 pages scraped. On index 2197.
Walk Score: 57
285 pages scraped. On index 2198.
Walk Score: 32
286 pages scraped. On index 2199.
Walk Score: 18
287 pages scraped. On index 2200.
Walk Score: /8
288 pages scraped. On index 2201.
Walk Score: 13
289 pages scraped. On index 2202.
Average error percentage: 0.0
Walk Score: 35
290 pages scraped. On index 2203.
Walk Score: /7
291 pages scraped. On index 2204.
Walk Score: 23
292 pages scraped. On index 2205.
Walk Score: 60
293 pages scraped. On index 2206.
Walk Score: /5
Walk Score: /5
294 pages scraped. On index 2207.
Walk Score: 79
295 pages scraped. On index 2208.
Walk Score: 55
296 pages scraped. On index 2209.
Walk Score: 36
297 pages scraped. On index 2210.
Walk Score: 45
298 pages scraped. On index 2211.
Walk Score: 22
299 pages scraped. On index 2212.
Average error percentage: 0.0
Backed up dataframe.
Walk Score: 59
300 pages scraped. On index 2213.
Walk Score: 73
301 pages scraped. On index 2214.
Walk Score: 19
302 pages scraped. On index 2215.
Walk Score: 86
303 pages scraped. On index 2216.
Walk Score: 23
304 pages scraped. On index 2217.
Walk Score: 73
305 pages scraped. On index 2218.
Walk Score: /5
306 pages scraped. On index 2219.
Walk Score: 22
307 pages scraped. On index 2220.
Walk Score: 23
308 pages scraped. On index 2221.
Walk Score: /3
309 pages scraped. On index 2222.
Average error percentage: 0.0
Walk Score: 34
310 pages scraped. On index 2223.
Walk Score: /9
311 pages scraped. On index 2224.
Walk Score: /6
312 pages scraped. On index 2225.
Walk Score: 17
313 pages scraped. On index 2226.
Walk Score: 27
314 pages scraped. On index 2227.
Walk Score: 17
315 pages scraped. On index 2228.
Walk Score: 13
316 pages scraped. On index 2229.
Walk Score: 46
317 pages scraped. On index 2230.
Walk Score: 19
318 pages scraped. On index 2231.
Walk Score: /3
319 pages scraped. On index 2232.
Average error percentage: 0.0
Walk Score: 13
320 pages scraped. On index 2233.
Walk Score: 57
321 pages scraped. On index 2234.
Walk Score: /3
322 pages scraped. On index 2235.
Walk Score: 30
323 pages scraped. On index 2236.
Walk Score: 21
324 pages scraped. On index 2237.
Backed up dataframe.
Walk Score: 89
325 pages scraped. On index 2238.
Walk Score: 55
326 pages scraped. On index 2239.
Walk Score: 38
327 pages scraped. On index 2240.
Walk Score: 65
328 pages scraped. On index 2241.
Walk Score: /1
329 pages scraped. On index 2242.
Average error percentage: 0.0
Walk Score: 35
330 pages scraped. On index 2243.
Walk Score: 34
331 pages scraped. On index 2244.
Walk Score: 84
332 pages scraped. On index 2245.
Walk Score: 21
333 pages scraped. On index 2246.
Walk Score: /8
334 pages scraped. On index 2247.
Walk Score: 70
335 pages scraped. On index 2248.
Walk Score: 34
336 pages scraped. On index 2249.
Walk Score: 10
337 pages scraped. On index 2250.
Walk Score: 59
338 pages scraped. On index 2251.
Walk Score: 31
339 pages scraped. On index 2252.
Average error percentage: 0.0
Walk Score: 42
340 pages scraped. On index 2253.
Walk Score: /9
341 pages scraped. On index 2254.
Walk Score: /7
342 pages scraped. On index 2255.
Walk Score: 67
343 pages scraped. On index 2256.
Walk Score: 31
344 pages scraped. On index 2257.
Walk Score: 32
345 pages scraped. On index 2258.
Walk Score: 42
346 pages scraped. On index 2259.
Walk Score: 10
347 pages scraped. On index 2260.
Walk Score: 46
348 pages scraped. On index 2261.
Walk Score: 43
349 pages scraped. On index 2262.
Average error percentage: 0.0
Backed up dataframe.
Walk Score: 37
350 pages scraped. On index 2263.
Walk Score: 49
351 pages scraped. On index 2264.
Walk Score: 14
352 pages scraped. On index 2265.
Walk Score: 30
353 pages scraped. On index 2266.
Walk Score: 13
354 pages scraped. On index 2267.
Walk Score: 83
355 pages scraped. On index 2268.
Walk Score: 41
356 pages scraped. On index 2269.
Walk Score: 32
357 pages scraped. On index 2270.
Walk Score: 74
358 pages scraped. On index 2271.
Walk Score: 38
359 pages scraped. On index 2272.
Average error percentage: 0.0
Walk Score: /1
360 pages scraped. On index 2273.
Walk Score: 70
361 pages scraped. On index 2274.
Walk Score: 42
362 pages scraped. On index 2275.
Walk Score: 21
363 pages scraped. On index 2276.
Walk Score: 75
364 pages scraped. On index 2277.
Walk Score: 79
365 pages scraped. On index 2278.
Walk Score: 82
366 pages scraped. On index 2279.
Walk Score: 87
367 pages scraped. On index 2280.
Walk Score: 67
368 pages scraped. On index 2281.
Walk Score: 49
369 pages scraped. On index 2282.
Average error percentage: 0.0
Walk Score: 38
Walk Score: 38
370 pages scraped. On index 2283.
Walk Score: 19
371 pages scraped. On index 2284.
Walk Score: 16
372 pages scraped. On index 2285.
Walk Score: 16
373 pages scraped. On index 2286.
Walk Score: 27
374 pages scraped. On index 2287.
Backed up dataframe.
Walk Score: 21
375 pages scraped. On index 2288.
Walk Score: 39
376 pages scraped. On index 2289.
Walk Score: 66
377 pages scraped. On index 2290.
Walk Score: /6

CannotSendRequest: Request-sent

In [31]:
most_recent_record = df[df['walk_score'].isnull() == True].index[0]

In [32]:
most_recent_record

527

In [28]:
# # Creating dictionaries for scores by zip code
# zip_code_walk_scores = defaultdict(str)
# zip_code_bike_scores = defaultdict(str)
# zip_code_transit_scores = defaultdict(str)
# zip_code_prop_crime_scores = defaultdict(str)
# zip_code_pers_crime_scores = defaultdict(str)

In [41]:
zip_code_transit_scores

defaultdict(str, {98053: '58', '98053': '59'})

In [40]:
zip_code_transit_scores['98053'] = '59'

In [35]:
df[400:450]

,Unnamed: 0,Unnamed: 0.1,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,...,sqft_lot15,Address,Neighborhood,walk_score,bike_score,transit_score,pers_crime_score,prop_crime_score,GEOID,income
400,400,400,9126100861,20150306T000000,557000,3,3.50,1710,2096,2.0,...,1543,"412 21st Ave, Seattle, WA 98122, USA",Central District,26,NaN,28,NaN,NaN,53033008700,56700.0
401,401,401,3420069065,20140825T000000,360000,4,1.75,3730,16980,1.0,...,16963,"47205 241st Ave SE, Enumclaw, WA 98022, USA",Enumclaw,84,81,73,C,D,53033031302,48385.0
402,402,402,6021501685,20150422T000000,352000,2,1.00,940,5000,1.0,...,4500,"8034 23rd Ave NW, Seattle, WA 98117, USA",Ballard,82,74,51,A,B,53033003100,101397.0
403,403,403,1151100070,20150224T000000,437000,3,2.50,1750,22357,2.0,...,22357,"42028 SE 133rd St, North Bend, WA 98045, USA",North Bend,82,74,51,A,B,53033032704,70471.0
404,404,404,8856950240,20140618T000000,322500,4,2.50,1820,6753,2.0,...,7107,"24223 231st Pl SE, Maple Valley, WA 98038, USA",Maple Valley,/0,NaN,NaN,NaN,NaN,53033032010,96857.0
405,405,405,9385200055,20140912T000000,650000,3,3.25,1510,2000,2.0,...,1352,"2445 Wickstrom Pl SW, Seattle, WA 98116, USA",Southwest,51,39,33,C,A,53033009702,106319.0
406,406,406,7821200390,20140806T000000,450000,3,2.00,1290,1213,3.0,...,3235,"4451 Midvale Ave N # 3, Seattle, WA 98103, USA",Wallingford,88,82,61,B,C,53033005000,65625.0
407,407,407,8078520310,20150417T000000,278500,3,2.00,1570,5250,1.0,...,5250,"11541 SE 319th St, Auburn, WA 98092, USA",Auburn,88,82,61,B,C,53033031205,71083.0
408,408,408,1565950030,20150427T000000,364950,4,2.50,1930,6957,2.0,...,6996,"11205 SE 190th Pl, Renton, WA 98055, USA",Renton,19,NaN,27,NaN,NaN,53033029303,67727.0
409,409,409,1560930070,20140911T000000,840000,4,3.50,2840,40139,1.0,...,36852,"22419 236th Pl SE, Maple Valley, WA 98038, USA",Maple Valley,19,NaN,27,NaN,NaN,53033032003,83750.0
410,410,410,6700400140,20150318T000000,268000,3,2.50,1550,8134,2.0,...,8134,"11215 SE 220th Pl, Kent, WA 98031, USA",Kent,/3,NaN,11,NaN,NaN,53033029403,70114.0
411,411,411,2422029094,20140716T000000,517534,2,1.00,833,143947,1.0,...,143947,"24032 115th Ave SW, Vashon, WA 98070, USA",Vashon,/5,NaN,NaN,NaN,NaN,53033027702,81757.0
412,412,412,1774220160,20141104T000000,632925,3,2.50,2990,32239,2.0,...,36497,"18146 NE 197th Pl, Woodinville, WA 98077, USA",Woodinville,/0,NaN,NaN,NaN,NaN,53033000000,NaN
413,413,413,1525200060,20140723T000000,577500,3,2.50,2000,7251,2.0,...,8118,"11814 106th Ave NE, Kirkland, WA 98034, USA",South Juanita,30,NaN,38,NaN,NaN,53033022006,81056.0
414,414,414,1678400105,20150212T000000,339000,4,1.50,2390,7480,1.5,...,6867,"11000 84th Ave S, Seattle, WA 98178, USA",Seattle,36,NaN,30,NaN,NaN,53033026002,51154.0
415,415,415,3426059070,20140909T000000,570000,3,1.75,2910,37461,1.0,...,18295,"11225 132nd Ave NE, Kirkland, WA 98033, USA",Willow - Rose Hill,34,NaN,34,NaN,NaN,53033022603,104382.0
416,416,416,824079032,20140626T000000,563500,4,1.75,2085,174240,1.0,...,174240,"3708 295th Ave SE, Fall City, WA 98024, USA",Fall City,/0,NaN,NaN,NaN,NaN,53033032210,116732.0
417,417,417,2697100140,20150105T000000,423000,4,2.25,2200,9351,1.0,...,8660,"2158 N 160th St, Shoreline, WA 98133, USA",Parkwood,/0,NaN,NaN,NaN,NaN,53033021000,74048.0
418,418,418,8724300030,20141223T000000,355000,3,2.25,1860,5028,2.0,...,5465,"14427 267th Ct NE, Duvall, WA 98019, USA",Duvall,27,NaN,NaN,NaN,NaN,53033032402,106824.0
419,419,419,8678500060,20140710T000000,1550000,5,4.25,6070,171626,2.0,...,211267,"29433 SE 15th Pl, Fall City, WA 98024, USA",Fall City,27,NaN,NaN,NaN,NaN,53033032500,95309.0
420,420,420,625049299,20141203T000000,482000,2,1.00,950,3960,1.0,...,4050,"Wallingford Ave N & N 82nd St, Seattle, WA 981...",Green Lake,63,76,54,B,B,53033000000,NaN
421,421,421,6073200075,20140730T000000,625000,3,1.75,1600,9135,1.0,...,9800,"12031 SE 42nd St, Bellevue, WA 98006, USA",Newport,63,76,54,B,B,53033024701,83712.0
422,422,422,6388900710,20141219T000000,538000,3,2.50,2250,11632,2.0,...,11632,"8404 128th Ave SE, Newcastle, WA 98056, USA",Newcastle,15,NaN,NaN,NaN,NaN,53033025001,110114.0
423,423,423,1442860160,20150107T000000,380000,3,2.50,2280,10255,2.0,...,10094,"13535 135th Ave SE, Renton, WA 98058, USA",Renton,15,NaN,NaN,NaN,NaN,53033000000,NaN
424,424,424,7942600310,20140717T000000,375000,2,1.00,940,5120,1.0,...,5120,"541 19th Ave, Seattle, WA 98122, USA",Central District,83,77,74,C,C,53033008700,56700.0
425,425,425,1545808560,20150403T000000,245000,3,2.50,1530,8500,1.0,...,8140,"22052 SE 271st Pl, Maple Valley, WA 98038, USA",Maple Valley,36,NaN,NaN,NaN,NaN,53033032008,88375.0
426,426,426,936000060,20141114T000000,310000,5,1.75,2190,27260,1.0,...,39480,"16400 3rd Ave SW, Normandy Park, WA 98166, USA",Normandy Park,43,NaN,NaN,NaN,NaN,53033028600,88574.0
427,427,427,9808650060,20150225T000000,1300000,3,2.00,2350,15021,1.0,...,15715,"9042 NE 33rd St, Yarrow Point, WA 98004, USA",Yarrow Point,13,NaN,NaN,NaN,NaN,53033024100,189231.0
428,428,428,3754700160,20140506T000000,397000,4,2.00,1440,7680,1.0,...,9660,"10605 NE 138th Pl, Kirkland, WA 98034, USA",Inglewood-Finn Hill,13,NaN,NaN,NaN,NaN,53033022003,75662.0
429,429,429,305500140,20150512T000000,365000,3,2.50,2200,4052,2.0,...,5082,"12140 SE 186th St, Renton, WA 98058, USA",Renton,17,NaN,/0,NaN,NaN,53033029304,92829.0
430,430,430,5468750060,20141028T000000,328500,4,3.00,2290,8250,2.0,...,8250,"13828 SE 254th St, Kent, WA 98042, USA",Kent,17,NaN,/0,NaN,NaN,53033031703,84408.0
431,431,431,2944010240,20140908T000000,988000,4,3.00,4040,19700,2.0,...,21887,"16004 NE 135th St, Redmond, WA 98052, USA",Redmond,/0,NaN,13,NaN,NaN,53033032321,199542.0
432,432,432,3454000060,20140722T000000,1000000,4,2.50,2610,3277,1.5,...,3277,"4632 Sunnyside Ave N, Seattle, WA 98103, USA",Wallingford,88,81,62,B,B,53033005100,99083.0
433,433,433,646910160,20140903T000000,237000,3,2.50,1490,2138,2.0,...,2094,"18861 WA-515, Renton, WA 98055, USA",Renton,88,81,62,B,B,53033000000,NaN
434,434,434,8564950390,20140919T000000,525000,4,2.50,2450,5280,2.0,...,4674,"20229 86th Pl NE, Bothell, WA 98011, USA",Bothell,88,81,62,B,B,53033021700,73456.0
435,435,435,2268400350,20140916T000000,749000,4,2.50,1710,9627,1.0,...,9131,"13204 SE 49th St, Bellevue, WA 98006, USA",Factoria,12,13,36,NaN,NaN,53033024901,135625.0
436,436,436,7504101040,20140821T000000,722500,5,2.50,4870,11800,2.0,...,11398,"22236 NE 25th Way, Sammamish, WA 98074, USA",Sammamish,12,13,36,NaN,NaN,53033032317,138854.0
437,437,437,11500890,20150312T000000,843000,3,2.50,3130,8750,2.0,...,9003,"17798 NE 107th Ct, Redmond, WA 98052, USA",Education Hill,19,NaN,33,NaN,NaN,53033032323,119773.0
438,438,438,9528102772,20140708T000000,438000,2,2.00,1270,1372,3.0,...,3090,"846 NE 67th St, Seattle, WA 98115, USA",Northeast Seattle,90,89,57,B,C,53033003600,65172.0
439,439,439,284000223,20140916T000000,578000,3,1.75,2120,10875,1.0,...,11760,"10950 39th Ave SW, Seattle, WA 98146, USA",Fauntleroy,90,89,57,B,C,53033012100,110060.0
440,440,440,3353401710,20140923T000000,227950,3,1.50,1670,8230,1.0,...,4910,"248 5th Ave SW, Pacific, WA 98047, USA",Pacific,90,89,57,B,C,53033030902,54315.0
441,441,441,8159610030,20140722T000000,196000,3,2.25,2070,11576,2.0,...,7519,"4606 S 292nd St, Auburn, WA 98001, USA",Auburn,90,89,57,B,C,53033029802,74350.0
442,442,442,3179100435,20140715T000000,641000,2,1.00,1420,5332,1.0,...,5406,"55 Ann Arbor Ave NE, Seattle, WA 98105, USA",Northeast Seattle,65,65,53,A,A,53033000000,NaN
443,443,443,822079033,20150422T000000,350000,3,1.50,1250,219978,1.0,...,210394,"21639 290th Ave SE, Maple Valley, WA 98038, USA",Maple Valley,65,65,53,A,A,53033032003,83750.0
444,444,444,8857600960,20140819T000000,205000,3,1.00,940,7980,1.0,...,8050,"24318 35th Ave S, Kent, WA 98032, USA",Kent,/0,NaN,/0,NaN,NaN,53033029102,65174.0
445,445,445,1774000200,20141202T000000,400000,3,1.75,1920,9102,1.0,...,9760,"16530 Avondale Rd NE, Woodinville, WA 98077, USA",Woodinville,43,NaN,43,NaN,NaN,53033032311,149087.0
446,446,446,2024069128,20141110T000000,1030000,3,2.50,3545,9816,1.0,...,7704,"2744 NW Pine Cone Pl, Issaquah, WA 98027, USA",Newport,38,NaN,NaN,NaN,NaN,53033025006,148750.0
447,447,447,1049010390,20150319T000000,505000,3,2.00,1260,5460,1.0,...,5460,"12123 NE 149th St, Kirkland, WA 98034, USA",Kingsgate,35,NaN,41,NaN,NaN,53033021905,92614.0
448,448,448,7905370390,20141009T000000,475000,5,2.50,2340,7200,1.0,...,7221,"9757 NE 135th Pl, Kirkland, WA 98034, USA",Inglewood-Finn Hill,48,NaN,32,NaN,NaN,53033022202,82009.0
449,449,449,4140090240,20141105T000000,520000,3,2.25,2590,9263,1.0,...,9450,"6154 NE 194th Pl, Kenmore, WA 98028, USA",Kenmore,25,NaN,33,NaN,NaN,53033021600,96066.0

In [47]:
alt_df = pd.read_csv('backup_df_from_scraping.csv')

In [330]:
# # Created new columns to hold scores
# df['walk_score'] = np.nan
# df['bike_score'] = np.nan
# df['transit_score'] = np.nan
# df['pers_crime_score'] = np.nan
# df['prop_crime_score'] = np.nan

**Adding GEOID and income data to dataframe <a name='bookmark2' />**

In [393]:
# Fill NAs with float of 0.0 so we can run operations on the whole column to transform into full GEOID
census['D'].fillna(0.0, inplace=True)

In [398]:
# Add leading zeros to transform Census Tract ID into format we can use to find GEOID to match up with Census data
def add_zeros(x):
    x = str(int(x))
    x = x.zfill(6)
    return(x)

census['tract'] = census['D'].apply(add_zeros)

In [407]:
# Add the leading characters for GEOID to our tract number
# Note: '53' denotes Washington State, and '033' denotes King County.
census['GEOID'] = '53033' + census['tract']

In [411]:
# Add 'GEOID' column to our main dataframe
census.df['GEOID'] = census['GEOID'].values

,index_num,Street,Match,Precision,Full address,loc,loc2,A,B,C,D,E,tract,GEOID
55,0,"6101 S Cooper St, Seattle, WA, 98118",Match,Non_Exact,"6101 S COOPER ST, SEATTLE, WA, 98118","-122.25696,47.51166",239766052.0,R,53.0,33.0,11900.0,NaN,011900,53033011900
53,1,"860 NE 127th St, Seattle, WA, 98125",Match,Non_Exact,"860 NE 127TH ST, SEATTLE, WA, 98125","-122.31958,47.721283",186716651.0,L,53.0,33.0,200.0,NaN,000200,53033000200
51,2,"15098 81st Ave NE, Kenmore, WA, 98028",Match,Exact,"15098 81ST AVE NE, KENMORE, WA, 98028","-122.23289,47.73783",239770253.0,R,53.0,33.0,22102.0,NaN,022102,53033022102
49,3,"9247 Fauntleroy Way SW, Seattle, WA, 98136",Match,Exact,"9247 FAUNTLEROY WAY SW, SEATTLE, WA, 98136","-122.3935,47.520912",186661942.0,R,53.0,33.0,11600.0,NaN,011600,53033011600
73,4,"757 222nd Pl NE, Sammamish, WA, 98074",Match,Exact,"757 222ND PL NE, SAMMAMISH, WA, 98074","-122.0446,47.61503",187001283.0,L,53.0,33.0,32317.0,NaN,032317,53033032317

In [590]:
median_income = pd.read_csv('median_income.csv')

In [592]:
income_dict = defaultdict(str)

In [438]:
# Remove the last entry because it contains a null value
median_income = median_income.iloc[:-1, :]

In [479]:
# Found another incorrect value. Finding the index so I can drop it.
median_income[median_income['HC02_EST_VC02'] == '(X)']

        GEO.id2 HC02_EST_VC02
54  53033005302           (X)

In [484]:
median_income.iloc[54]

GEO.id2          53033005302
HC02_EST_VC02            (X)
Name: 54, dtype: object

In [488]:
# Dropping incorrect row.
median_income = median_income.drop(54)

In [583]:
# Reset index in order to make zipping into dicts possible without errors
median_income = median_income.reset_index(inplace=True)

In [556]:
# Recasting income variable as an int to make things easier down the road
median_income['HC02_EST_VC02'] = median_income['HC02_EST_VC02'].astype('str', inplace=True)

In [582]:
# Backing up work
df.to_csv('backup saturday.csv')
census.to_csv('census backup saturday.csv')
median_income.to_csv('median_income backup.csv')

In [7]:
df = pd.read_csv('backup saturday.csv')

census = pd.read_csv('census backup saturday.csv')

median_income = pd.read_csv('median_income backup.csv')

In [14]:
median_income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396 entries, 0 to 395
Data columns (total 4 columns):
Unnamed: 0       396 non-null int64
index            396 non-null int64
GEO.id2          396 non-null int64
HC02_EST_VC02    396 non-null int64
dtypes: int64(4)
memory usage: 12.5 KB

In [9]:
median_income['GEO.id2']

0      53033000100
1      53033000200
2      53033000300
3      53033000401
4      53033000402
5      53033000500
6      53033000600
7      53033000700
8      53033000800
9      53033000900
10     53033001000
11     53033001100
12     53033001200
13     53033001300
14     53033001400
15     53033001500
16     53033001600
17     53033001701
18     53033001702
19     53033001800
20     53033001900
21     53033002000
22     53033002100
23     53033002200
24     53033002400
25     53033002500
26     53033002600
27     53033002700
28     53033002800
29     53033002900
          ...
366    53033032214
367    53033032215
368    53033032307
369    53033032309
370    53033032311
371    53033032313
372    53033032315
373    53033032316
374    53033032317
375    53033032318
376    53033032319
377    53033032320
378    53033032321
379    53033032322
380    53033032323
381    53033032324
382    53033032325
383    53033032326
384    53033032327
385    53033032328
386    53033032329
387    53033032401
388    53033032402
389    53033032500
390    53033032601
391    53033032602
392    53033032702
393    53033032703
394    53033032704
395    53033032800
Name: GEO.id2, Length: 396, dtype: int64

In [15]:
income_tracts = dict(zip(median_income['GEO.id2'], median_income['HC02_EST_VC02']))

In [16]:
income_tracts

{53033000100: 44951,
 53033000200: 56208,
 53033000300: 64297,
 53033000401: 32472,
 53033000402: 62726,
 53033000500: 125400,
 53033000600: 60131,
 53033000700: 51741,
 53033000800: 87222,
 53033000900: 125109,
 53033001000: 69643,
 53033001100: 64549,
 53033001200: 31863,
 53033001300: 56744,
 53033001400: 72428,
 53033001500: 95927,
 53033001600: 96193,
 53033001701: 65188,
 53033001702: 62786,
 53033001800: 87159,
 53033001900: 61391,
 53033002000: 80400,
 53033002100: 85759,
 53033002200: 132981,
 53033002400: 103917,
 53033002500: 101413,
 53033002600: 91458,
 53033002700: 111661,
 53033002800: 90568,
 53033002900: 103750,
 53033003000: 90789,
 53033003100: 101397,
 53033003200: 79681,
 53033003300: 85595,
 53033003400: 97500,
 53033003500: 81563,
 53033003600: 65172,
 53033003800: 96310,
 53033003900: 110458,
 53033004000: 75714,
 53033004100: 132917,
 53033004200: 110091,
 53033004301: 64797,
 53033004302: 18908,
 53033004400: 50500,
 53033004500: 88914,
 53033004600: 113906,
 53033004700: 72396,
 53033004800: 93155,
 53033004900: 71809,
 53033005000: 65625,
 53033005100: 99083,
 53033005200: 38487,
 53033005301: 12269,
 53033005400: 84728,
 53033005600: 157292,
 53033005700: 90951,
 53033005801: 66563,
 53033005802: 62639,
 53033005900: 87667,
 53033006000: 96538,
 53033006100: 76980,
 53033006200: 131429,
 53033006300: 132000,
 53033006400: 154868,
 53033006500: 98617,
 53033006600: 82154,
 53033006700: 88719,
 53033006800: 98750,
 53033006900: 100172,
 53033007000: 67572,
 53033007100: 74143,
 53033007200: 74559,
 53033007300: 76582,
 53033007401: 67834,
 53033007402: 41842,
 53033007500: 63419,
 53033007600: 68199,
 53033007700: 104632,
 53033007800: 137358,
 53033007900: 57786,
 53033008001: 88068,
 53033008002: 37466,
 53033008100: 75531,
 53033008200: 56318,
 53033008300: 49291,
 53033008400: 42339,
 53033008500: 29883,
 53033008600: 43375,
 53033008700: 56700,
 53033008800: 76524,
 53033008900: 79953,
 53033009000: 44571,
 53033009100: 29464,
 53033009200: 25625,
 53033009300: 70458,
 53033009400: 47737,
 53033009500: 81676,
 53033009600: 77808,
 53033009701: 82333,
 53033009702: 106319,
 53033009800: 71705,
 53033009900: 67277,
 53033010001: 51316,
 53033010002: 66458,
 53033010100: 59275,
 53033010200: 84324,
 53033010300: 57750,
 53033010401: 60682,
 53033010402: 79432,
 53033010500: 66794,
 53033010600: 90208,
 53033010701: 55504,
 53033010702: 48036,
 53033010800: 74107,
 53033010900: 42159,
 53033011001: 29286,
 53033011002: 47604,
 53033011101: 52412,
 53033011102: 61901,
 53033011200: 35425,
 53033011300: 47363,
 53033011401: 54622,
 53033011402: 47701,
 53033011500: 75123,
 53033011600: 102500,
 53033011700: 60917,
 53033011800: 38846,
 53033011900: 71524,
 53033012000: 83421,
 53033012100: 110060,
 53033020100: 93235,
 53033020200: 72028,
 53033020300: 58182,
 53033020401: 61330,
 53033020402: 71758,
 53033020500: 66786,
 53033020600: 72500,
 53033020700: 56141,
 53033020800: 82344,
 53033020900: 63819,
 53033021000: 74048,
 53033021100: 70137,
 53033021300: 67438,
 53033021400: 99861,
 53033021500: 108750,
 53033021600: 96066,
 53033021700: 73456,
 53033021802: 87922,
 53033021803: 74856,
 53033021804: 72422,
 53033021903: 71417,
 53033021904: 89615,
 53033021905: 92614,
 53033021906: 81250,
 53033022001: 70591,
 53033022003: 75662,
 53033022005: 90900,
 53033022006: 81056,
 53033022101: 100168,
 53033022102: 96863,
 53033022201: 78409,
 53033022202: 82009,
 53033022203: 121759,
 53033022300: 113958,
 53033022400: 111754,
 53033022500: 100584,
 53033022603: 104382,
 53033022604: 94222,
 53033022605: 68636,
 53033022606: 104072,
 53033022701: 103292,
 53033022702: 123221,
 53033022703: 101250,
 53033022801: 88160,
 53033022802: 101184,
 53033022803: 96908,
 53033022901: 123000,
 53033022902: 120731,
 53033023000: 104013,
 53033023100: 92283,
 53033023201: 78119,
 53033023202: 46719,
 53033023300: 76500,
 53033023401: 71269,
 53033023403: 93387,
 53033023404: 146875,
 53033023500: 110568,
 53033023601: 78155,
 53033023603: 87236,
 53033023604: 72383,
 53033023700: 96268,
 53033023801: 97674,
 53033023803: 96975,
 53033023804: 89479,
 53033023900: 117308,
 53033024000: 107479,
 53033024100: 189231,
 53033024200: 175625,
 53033024300: 103178,
 53033024400: 69583,
 53033024500: 167361,
 53033024601: 175132,
 53033024602: 195156,
 53033024701: 83712,
 53033024702: 106941,
 53033024800: 68042,
 53033024901: 135625,
 53033024902: 102616,
 53033024903: 152458,
 53033025001: 110114,
 53033025003: 126089,
 53033025005: 103229,
 53033025006: 148750,
 53033025101: 81676,
 53033025102: 104469,
 53033025200: 75109,
 53033025301: 77278,
 53033025302: 34471,
 53033025400: 47773,
 53033025500: 57246,
 53033025601: 60833,
 53033025602: 105446,
 53033025701: 47219,
 53033025702: 85758,
 53033025803: 50750,
 53033025804: 71225,
 53033025805: 58309,
 53033025806: 77821,
 53033026001: 73750,
 53033026002: 51154,
 53033026100: 46826,
 53033026200: 46535,
 53033026300: 55110,
 53033026400: 43487,
 53033026500: 29107,
 53033026600: 63799,
 53033026700: 65660,
 53033026801: 36505,
 53033026802: 41875,
 53033027000: 59417,
 53033027100: 46250,
 53033027200: 50083,
 53033027300: 49023,
 53033027400: 60536,
 53033027500: 56406,
 53033027600: 51944,
 53033027701: 64007,
 53033027702: 81757,
 53033027800: 89185,
 53033027900: 52425,
 53033028000: 44127,
 53033028100: 45845,
 53033028200: 41386,
 53033028300: 78915,
 53033028402: 39756,
 53033028403: 31356,
 53033028500: 47560,
 53033028600: 88574,
 53033028700: 73841,
 53033028801: 60948,
 53033028802: 40590,
 53033028901: 67500,
 53033028902: 41000,
 53033029001: 58641,
 53033029003: 55747,
 53033029004: 31783,
 53033029101: 74228,
 53033029102: 65174,
 53033029203: 33704,
 53033029204: 59591,
 53033029205: 61304,
 53033029206: 29623,
 53033029303: 67727,
 53033029304: 92829,
 53033029305: 76755,
 53033029306: 71029,
 53033029307: 94375,
 53033029403: 70114,
 53033029405: 83750,
 53033029406: 89792,
 53033029407: 46627,
 53033029408: 41651,
 53033029502: 76295,
 53033029503: 33092,
 53033029504: 45329,
 53033029601: 72635,
 53033029602: 96964,
 53033029700: 40513,
 53033029801: 62788,
 53033029802: 74350,
 53033029901: 68609,
 53033029902: 84816,
 53033030003: 61250,
 53033030004: 42439,
 53033030005: 48942,
 53033030006: 27635,
 53033030100: 81458,
 53033030201: 51837,
 53033030202: 50226,
 53033030304: 86198,
 53033030305: 71311,
 53033030306: 94677,
 53033030308: 57565,
 53033030309: 61973,
 53033030310: 62237,
 53033030311: 71659,
 53033030312: 54413,
 53033030313: 40208,
 53033030314: 44918,
 53033030401: 73497,
 53033030403: 73917,
 53033030404: 68616,
 53033030501: 22775,
 53033030503: 42900,
 53033030504: 50396,
 53033030600: 53188,
 53033030700: 41492,
 53033030801: 34351,
 53033030802: 52317,
 53033030901: 60893,
 53033030902: 54315,
 53033031000: 104500,
 53033031100: 51058,
 53033031202: 76932,
 53033031204: 89375,
 53033031205: 71083,
 53033031206: 65809,
 53033031301: 74632,
 53033031302: 48385,
 53033031400: 55398,
 53033031501: 83667,
 53033031502: 74306,
 53033031601: 99730,
 53033031603: 82067,
 53033031604: 102202,
 53033031605: 91071,
 53033031703: 84408,
 53033031704: 82277,
 53033031705: 107311,
 53033031706: 74239,
 53033031800: 106875,
 53033031903: 87014,
 53033031904: 84088,
 53033031906: 107299,
 53033031907: 99038,
 53033031908: 61827,
 53033031909: 108265,
 53033032002: 91063,
 53033032003: 83750,
 53033032005: 87350,
 53033032006: 85323,
 53033032007: 90703,
 53033032008: 88375,
 53033032010: 96857,
 53033032011: 106957,
 53033032102: 98750,
 53033032103: 64474,
 53033032104: 82456,
 53033032203: 125636,
 53033032207: 142470,
 53033032208: 77226,
 53033032210: 116732,
 53033032211: 117250,
 53033032212: 126146,
 53033032213: 143585,
 53033032214: 156481,
 53033032215: 190900,
 53033032307: 121402,
 53033032309: 109469,
 53033032311: 149087,
 53033032313: 96573,
 53033032315: 131992,
 53033032316: 164599,
 53033032317: 138854,
 53033032318: 153098,
 53033032319: 68370,
 53033032320: 149519,
 53033032321: 199542,
 53033032322: 147750,
 53033032323: 119773,
 53033032324: 86600,
 53033032325: 107727,
 53033032326: 138917,
 53033032327: 101563,
 53033032328: 112917,
 53033032329: 136616,
 53033032401: 92500,
 53033032402: 106824,
 53033032500: 95309,
 53033032601: 84583,
 53033032602: 132072,
 53033032702: 100309,
 53033032703: 77483,
 53033032704: 70471,
 53033032800: 86121}

In [17]:
df.head()

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,sqft_living15,sqft_lot15,Address,Neighborhood,walk_score,bike_score,transit_score,pers_crime_score,prop_crime_score,GEOID
0,0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,...,1340,5650,"6101 S Cooper St, Seattle, WA 98118, USA",Rainier Beach,NaN,NaN,NaN,NaN,NaN,53033011900
1,1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,...,1690,7639,"860 NE 127th St, Seattle, WA 98125, USA",North Seattle,NaN,NaN,NaN,NaN,NaN,53033000200
2,2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,...,2720,8062,"15098 81st Ave NE, Kenmore, WA 98028, USA",Kenmore,NaN,NaN,NaN,NaN,NaN,53033022102
3,3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1.0,0,...,1360,5000,"9247 Fauntleroy Way SW, Seattle, WA 98136, USA",Fauntleroy,NaN,NaN,NaN,NaN,NaN,53033011600
4,4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,0,...,1800,7503,"757 222nd Pl NE, Sammamish, WA 98074, USA",Sammamish,NaN,NaN,NaN,NaN,NaN,53033032317

In [19]:
df['income'] = df['GEOID'].map(income_tracts)

In [21]:
income_tracts[53033022102]

96863