<a href=#bookmark>**Once data is already scraped, click here to jump down to the right place.**</a>

In [2]:
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline

import selenium
import os
import pprint

import googlemaps

from collections import defaultdict

import time

import pickle

%load_ext dotenv
%dotenv

In [3]:
# Use fivethirtyeight styling, because I like it
import matplotlib.style as style
style.use('fivethirtyeight')

# Import private API key

MAPS_KEY = os.environ.get('MAPS_KEY')

# Change format of charts to .svg
%config InlineBackend.figure_format = 'svg'

In [4]:
%xmode

Exception reporting mode: Verbose

In [5]:
# This dataset contains house sale prices for King County, which includes Seattle. It includes homes sold between May 2014 and May 2015.
# Read the data into pandas dataframe
df = pd.read_csv('kc_house_data.csv')

In [6]:
# Let's take a look at the data
df.head(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062

In [7]:
# Recast price column as integer, for simplicity
df['price'] = df.price.astype(int)

In [26]:
coords = list(zip(df['lat'].astype(float), df['long'].astype(float)))

In [30]:
len(coords)

21613

In [31]:
formatted_addresses = []
json_addresses = []
neighborhoods_list = []
address_dictionary = defaultdict(str)

def get_addresses(coords_list):
    count = 0
    for coord_tuple in coords_list:
        count +=1
#         if count >= 1000:
#             time.sleep(120)
#             count = 0
        
        try:
            # Instantiate a Google Maps API session
            address = gmaps.reverse_geocode(coord_tuple)
            
            # Parse the JSON results
            formatted_address = address[1]['formatted_address']
            
            # Store both a list of formatted addresses and a list of all data for safekeeping
            formatted_addresses.append(formatted_address)
            json_addresses.append(address)
            
            # Store a list of neighborhoods
            neighborhood = address[0]['address_components'][2]['short_name']
            neighborhoods_list.append(neighborhood)
            
            # Store a dictionary of lat/long and formatted addresses, in case we need to map to dataframe later
            address_dictionary[coord_tuple] = formatted_address
            
            print('Success')

        except:
            print('Could not get address.')
            formatted_addresses.append(None)

In [33]:
get_addresses(coords)

Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success
Success

In [34]:
len(formatted_addresses)

21613

In [39]:
# # Pickling original list so not to lose my work
# with open('address_list_final.pkl', 'wb') as f:
#     pickle.dump(list_of_addresses, f)

# with open('formatted_addresses.pkl', 'wb') as f:
#     pickle.dump(formatted_addresses, f)

# # Pickling like crazy because I don't want to lose my data.
# # Yes, I know pickling isn't always the best. Works for now.
# with open('json_addresses.pkl', 'wb') as f:
#     pickle.dump(json_addresses, f)

# with open('neighborhoods.pkl', 'wb') as f:
#     pickle.dump(neighborhoods_list, f)

# with open('address_dictionary.pkl', 'wb') as f:
#     pickle.dump(address_dictionary, f)

In [64]:
# Backing up a whole bunch more
neighborhood_df.to_csv('neighborhood_csv.csv', index=False, header=False)
nh = pd.read_csv('neighborhood_csv.csv')
formatted_addresses_df = pd.DataFrame(formatted_addresses, columns=['Formatted Addresses'])
formatted_addresses_df.to_csv('formatted_addresses_csv.csv', index=False)

In [71]:
# Add formatted addresses from Google Maps API to our dataframe (!)
df['Address'] = formatted_addresses

In [ ]:
# Adding neighborhood to dataframe
df['Neighborhood'] = neighborhoods_list

**Start here once data is already scraped** <a name='bookmark' />

In [8]:
# Now that the data is already scraped, we can pick up from here and add 'Address' column to main dataframe
addresses_df = pd.read_csv('formatted_addresses_csv.csv')
df['Address'] = addresses_df['Formatted Addresses']

In [20]:
neighborhood_df = pd.read_csv('neighborhood_csv.csv', header=None)
df['Neighborhood'] = neighborhood_df

Code in cell below is for imputing zip code from Google addresses, but we already have that data in another column. May return to this later.

In [95]:
# # Grab a list of all the zip codes from the formatted addresses list
# # I love list comprehensions!
# zip_list = [x.split(',')[-2][-5:] for x in formatted_addresses]

# df['Imputed Zip Code'] = zip_list

# def get_zips(x):
#     if x == ' WA' or x == 'ngton':
#         return 0
#     else:
#         return x

# df['Imputed Zip Code'] = df['Imputed Zip Code'].apply(get_zips)

# df['Imputed Zip Code'] = df['Imputed Zip Code'].astype(int)

In [47]:
# 205 Unique Neighborhoods. Should be sufficient for Walk Score/Transit Score/Bike Score etc. for our purposes.
df['Neighborhood'].nunique()

205

In [48]:
# Initialize a numpy array with unique neighborhoods, that we will later use to scrape data from the web
unique_neighborhoods = np.array(df['Neighborhood'].value_counts().index)

In [54]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'Address',
       'Neighborhood'],
      dtype='object')

In [165]:
adds = df['Address']

In [213]:
adds

0                 6101 S Cooper St, Seattle, WA 98118, USA
1                  860 NE 127th St, Seattle, WA 98125, USA
2                15098 81st Ave NE, Kenmore, WA 98028, USA
3           9247 Fauntleroy Way SW, Seattle, WA 98136, USA
4                757 222nd Pl NE, Sammamish, WA 98074, USA
5           25005 NE Patterson Way, Redmond, WA 98053, USA
6               505 S 325th St, Federal Way, WA 98003, USA
7              21413 15th Ave S, Des Moines, WA 98198, USA
8                  209 SW 102nd St, Seattle, WA 98146, USA
9           26019 232nd Pl SE, Maple Valley, WA 98038, USA
10               1008 145th Pl SE, Bellevue, WA 98007, USA
11                 3435 NE 85th St, Seattle, WA 98115, USA
12                17617 83rd Pl NE, Kenmore, WA 98028, USA
13              305 221st Ave NE, Sammamish, WA 98074, USA
14                 2814 NW 56th St, Seattle, WA 98107, USA
15                3608 33rd Ave SW, Seattle, WA 98126, USA
16                14028 282nd Ln NE, Duvall, WA 98019, USA
17                  1211 N 50th St, Seattle, WA 98103, USA
18                    25 Pike St NE, Auburn, WA 98002, USA
19             2202 S 300th St, Federal Way, WA 98003, USA
20           10037 Interlake Ave N, Seattle, WA 98133, USA
21           8134 SE 83rd St, Mercer Island, WA 98040, USA
22                12813 SE 307th Pl, Auburn, WA 98092, USA
23                  13107 SE 277th Pl, Kent, WA 98030, USA
24                  12724 SE 254th Ct, Kent, WA 98030, USA
25                      227 I St SE, Auburn, WA 98002, USA
26                  2215 2nd Ave W, Seattle, WA 98119, USA
27              1414 E Harrison St, Seattle, WA 98112, USA
28                9109 23rd Ave NE, Seattle, WA 98115, USA
29              17260 NE 119th Way, Redmond, WA 98052, USA
                               ...
21583          2348 Fairview Ave E, Seattle, WA 98102, USA
21584             4542 41st Ave SW, Seattle, WA 98116, USA
21585              21608 SE 299th Way, Kent, WA 98042, USA
21586              1751 NW 58th St, Seattle, WA 98107, USA
21587           1725 NE 145th St, Shoreline, WA 98155, USA
21588    5238, 1427 NW 65th St, Seattle, WA 98117, Unit...
21589       28458 239th Pl SE, Maple Valley, WA 98038, USA
21590           4502 205th Pl NE, Sammamish, WA 98074, USA
21591             11451 80th Ave S, Seattle, WA 98178, USA
21592           3902 Whitman Ave N, Seattle, WA 98103, USA
21593            7515 SE 76th St, Newcastle, WA 98056, USA
21594          25305 176th Pl SE, Covington, WA 98042, USA
21595           3809 Whitman Ave N, Seattle, WA 98103, USA
21596                6558 NE 1st St, Renton, WA 98059, USA
21597        8704 SE 45th St, Mercer Island, WA 98040, USA
21598               5637 S 344th Ct, Auburn, WA 98001, USA
21599             21837 NE 97th Pl, Redmond, WA 98053, USA
21600            10524 NE 24th St, Bellevue, WA 98004, USA
21601      9221B, Roosevelt Way NE, Seattle, WA 98115, USA
21602        25510 Lawson St, Black Diamond, WA 98010, USA
21603    6930 Elderberry Ave SE, Snoqualmie, WA 98065, USA
21604              3656 36th Ave S, Seattle, WA 98144, USA
21605               3943 NE 24th Ct, Renton, WA 98056, USA
21606             5426 Beach Dr SW, Seattle, WA 98136, USA
21607             3012 60th Ave SW, Seattle, WA 98116, USA
21608                929 N 97th St, Seattle, WA 98103, USA
21609             2245 SW 104th St, Seattle, WA 98146, USA
21610               902 26th Ave S, Seattle, WA 98144, USA
21611      2157 NW Boulder Way Dr, Issaquah, WA 98027, USA
21612               916 26th Ave S, Seattle, WA 98144, USA
Name: Address, Length: 21613, dtype: object

In [60]:
adds = adds.apply(lambda x: x.split(','))

In [68]:
adds = pd.DataFrame(adds)

In [160]:
adds

                                                 Address
0          [6101 S Cooper St,  Seattle,  WA 98118,  USA]
1           [860 NE 127th St,  Seattle,  WA 98125,  USA]
2         [15098 81st Ave NE,  Kenmore,  WA 98028,  USA]
3      [9247 Fauntleroy Way SW,  Seattle,  WA 98136, ...
4         [757 222nd Pl NE,  Sammamish,  WA 98074,  USA]
5      [25005 NE Patterson Way,  Redmond,  WA 98053, ...
6        [505 S 325th St,  Federal Way,  WA 98003,  USA]
7       [21413 15th Ave S,  Des Moines,  WA 98198,  USA]
8           [209 SW 102nd St,  Seattle,  WA 98146,  USA]
9      [26019 232nd Pl SE,  Maple Valley,  WA 98038, ...
10        [1008 145th Pl SE,  Bellevue,  WA 98007,  USA]
11          [3435 NE 85th St,  Seattle,  WA 98115,  USA]
12         [17617 83rd Pl NE,  Kenmore,  WA 98028,  USA]
13       [305 221st Ave NE,  Sammamish,  WA 98074,  USA]
14          [2814 NW 56th St,  Seattle,  WA 98107,  USA]
15         [3608 33rd Ave SW,  Seattle,  WA 98126,  USA]
16         [14028 282nd Ln NE,  Duvall,  WA 98019,  USA]
17           [1211 N 50th St,  Seattle,  WA 98103,  USA]
18             [25 Pike St NE,  Auburn,  WA 98002,  USA]
19      [2202 S 300th St,  Federal Way,  WA 98003,  USA]
20     [10037 Interlake Ave N,  Seattle,  WA 98133,  ...
21     [8134 SE 83rd St,  Mercer Island,  WA 98040,  ...
22         [12813 SE 307th Pl,  Auburn,  WA 98092,  USA]
23           [13107 SE 277th Pl,  Kent,  WA 98030,  USA]
24           [12724 SE 254th Ct,  Kent,  WA 98030,  USA]
25               [227 I St SE,  Auburn,  WA 98002,  USA]
26           [2215 2nd Ave W,  Seattle,  WA 98119,  USA]
27       [1414 E Harrison St,  Seattle,  WA 98112,  USA]
28         [9109 23rd Ave NE,  Seattle,  WA 98115,  USA]
29       [17260 NE 119th Way,  Redmond,  WA 98052,  USA]
...                                                  ...
21583   [2348 Fairview Ave E,  Seattle,  WA 98102,  USA]
21584      [4542 41st Ave SW,  Seattle,  WA 98116,  USA]
21585       [21608 SE 299th Way,  Kent,  WA 98042,  USA]
21586       [1751 NW 58th St,  Seattle,  WA 98107,  USA]
21587    [1725 NE 145th St,  Shoreline,  WA 98155,  USA]
21588  [5238,  1427 NW 65th St,  Seattle,  WA 98117, ...
21589  [28458 239th Pl SE,  Maple Valley,  WA 98038, ...
21590    [4502 205th Pl NE,  Sammamish,  WA 98074,  USA]
21591      [11451 80th Ave S,  Seattle,  WA 98178,  USA]
21592    [3902 Whitman Ave N,  Seattle,  WA 98103,  USA]
21593     [7515 SE 76th St,  Newcastle,  WA 98056,  USA]
21594   [25305 176th Pl SE,  Covington,  WA 98042,  USA]
21595    [3809 Whitman Ave N,  Seattle,  WA 98103,  USA]
21596         [6558 NE 1st St,  Renton,  WA 98059,  USA]
21597  [8704 SE 45th St,  Mercer Island,  WA 98040,  ...
21598        [5637 S 344th Ct,  Auburn,  WA 98001,  USA]
21599      [21837 NE 97th Pl,  Redmond,  WA 98053,  USA]
21600     [10524 NE 24th St,  Bellevue,  WA 98004,  USA]
21601  [9221B,  Roosevelt Way NE,  Seattle,  WA 98115...
21602  [25510 Lawson St,  Black Diamond,  WA 98010,  ...
21603  [6930 Elderberry Ave SE,  Snoqualmie,  WA 9806...
21604       [3656 36th Ave S,  Seattle,  WA 98144,  USA]
21605        [3943 NE 24th Ct,  Renton,  WA 98056,  USA]
21606      [5426 Beach Dr SW,  Seattle,  WA 98136,  USA]
21607      [3012 60th Ave SW,  Seattle,  WA 98116,  USA]
21608         [929 N 97th St,  Seattle,  WA 98103,  USA]
21609      [2245 SW 104th St,  Seattle,  WA 98146,  USA]
21610        [902 26th Ave S,  Seattle,  WA 98144,  USA]
21611  [2157 NW Boulder Way Dr,  Issaquah,  WA 98027,...
21612        [916 26th Ave S,  Seattle,  WA 98144,  USA]

[21613 rows x 1 columns]

In [163]:
# Parsing from the address column to get individual street numbers, cities, etc. to feed into Census
street_add = adds['Address'].apply(lambda x: x[0])

city = adds['Address'].apply(lambda x: x[1])

state = 'WA'

zip = adds['Address'].apply(lambda x: x[2][4:])

In [142]:
# Add a state column that doesn't have any wrong values
state = adds['Address'].apply(lambda x: x[2][1:3])

state = pd.DataFrame(state)

state['Address'] = 'WA'

state['Address'].value_counts()

WA    21613
Name: Address, dtype: int64

In [145]:
output = pd.concat([street_add, city, state, zip], axis=1, names=None)

In [197]:
output

                      Address            Address Address Address
0            6101 S Cooper St            Seattle      WA   98118
1             860 NE 127th St            Seattle      WA   98125
2           15098 81st Ave NE            Kenmore      WA   98028
3      9247 Fauntleroy Way SW            Seattle      WA   98136
4             757 222nd Pl NE          Sammamish      WA   98074
5      25005 NE Patterson Way            Redmond      WA   98053
6              505 S 325th St        Federal Way      WA   98003
7            21413 15th Ave S         Des Moines      WA   98198
8             209 SW 102nd St            Seattle      WA   98146
9           26019 232nd Pl SE       Maple Valley      WA   98038
10           1008 145th Pl SE           Bellevue      WA   98007
11            3435 NE 85th St            Seattle      WA   98115
12           17617 83rd Pl NE            Kenmore      WA   98028
13           305 221st Ave NE          Sammamish      WA   98074
14            2814 NW 56th St            Seattle      WA   98107
15           3608 33rd Ave SW            Seattle      WA   98126
16          14028 282nd Ln NE             Duvall      WA   98019
17             1211 N 50th St            Seattle      WA   98103
18              25 Pike St NE             Auburn      WA   98002
19            2202 S 300th St        Federal Way      WA   98003
20      10037 Interlake Ave N            Seattle      WA   98133
21            8134 SE 83rd St      Mercer Island      WA   98040
22          12813 SE 307th Pl             Auburn      WA   98092
23          13107 SE 277th Pl               Kent      WA   98030
24          12724 SE 254th Ct               Kent      WA   98030
25                227 I St SE             Auburn      WA   98002
26             2215 2nd Ave W            Seattle      WA   98119
27         1414 E Harrison St            Seattle      WA   98112
28           9109 23rd Ave NE            Seattle      WA   98115
29         17260 NE 119th Way            Redmond      WA   98052
...                       ...                ...     ...     ...
21583     2348 Fairview Ave E            Seattle      WA   98102
21584        4542 41st Ave SW            Seattle      WA   98116
21585      21608 SE 299th Way               Kent      WA   98042
21586         1751 NW 58th St            Seattle      WA   98107
21587        1725 NE 145th St          Shoreline      WA   98155
21588                    5238    1427 NW 65th St      WA    ttle
21589       28458 239th Pl SE       Maple Valley      WA   98038
21590        4502 205th Pl NE          Sammamish      WA   98074
21591        11451 80th Ave S            Seattle      WA   98178
21592      3902 Whitman Ave N            Seattle      WA   98103
21593         7515 SE 76th St          Newcastle      WA   98056
21594       25305 176th Pl SE          Covington      WA   98042
21595      3809 Whitman Ave N            Seattle      WA   98103
21596          6558 NE 1st St             Renton      WA   98059
21597         8704 SE 45th St      Mercer Island      WA   98040
21598         5637 S 344th Ct             Auburn      WA   98001
21599        21837 NE 97th Pl            Redmond      WA   98053
21600        10524 NE 24th St           Bellevue      WA   98004
21601                   9221B   Roosevelt Way NE      WA    ttle
21602         25510 Lawson St      Black Diamond      WA   98010
21603  6930 Elderberry Ave SE         Snoqualmie      WA   98065
21604         3656 36th Ave S            Seattle      WA   98144
21605         3943 NE 24th Ct             Renton      WA   98056
21606        5426 Beach Dr SW            Seattle      WA   98136
21607        3012 60th Ave SW            Seattle      WA   98116
21608           929 N 97th St            Seattle      WA   98103
21609        2245 SW 104th St            Seattle      WA   98146
21610          902 26th Ave S            Seattle      WA   98144
21611  2157 NW Boulder Way Dr           Issaquah      WA   98027
21612          916 26th Ave S            Seattle      WA   98144

[21613 rows x 4 columns]

In [289]:
output1 = output.iloc[8000:16000,:]

In [291]:
output1.head()

                 Address            Address Address Address
8000   10261 39th Ave SW            Seattle      WA   98146
8001   17526 47th Ave NE   Lake Forest Park      WA   98155
8002   16116 NE 107th Ct            Redmond      WA   98052
8003   7024 126th Ave NE           Kirkland      WA   98033
8004  17242 164th Way SE             Renton      WA   98058

In [212]:
output1.to_csv('24000.csv')

In [172]:
new = pd.read_csv('output.csv')

In [192]:
new = new[:10]

In [187]:
df3 = pd.read_csv('census_geocode_data/GeocodeResults - 1.csv')

In [189]:
df3.head(10)

,,,,,,,,,Unnamed: 0,"Address, Address, Address, Address",No_Match
6873,"6719 Silent Creek Ave SE, Snoqualmie, WA, 98065",Match,Exact,"6719 SILENT CREEK AVE SE, SNOQUALMIE, WA, 98065","-121.8784,47.540737",639757526.0,R,53.0,33.0,32602.0,NaN
6874,"14718 NE 16th St, Bellevue, WA, 98007",Tie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6871,"26012 18th Ave S, Des Moines, WA, 98198",Match,Exact,"26012 18TH AVE S, DES MOINES, WA, 98198","-122.31009,47.36838",619973594.0,R,53.0,33.0,30003.0,NaN
6872,"9735 NE 138th Pl, Kirkland, WA, 98034",Match,Non_Exact,"9735 NE 138TH PL, KIRKLAND, WA, 98034","-122.21162,47.724415",239780830.0,L,53.0,33.0,22202.0,NaN
6870,"15210 Bridle Crest Trail, Redmond, WA, 98052",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
531,"2904 28th St SE, Auburn, WA, 98092",Match,Exact,"2904 28TH ST SE, AUBURN, WA, 98092","-122.190445,47.28541",186656868.0,R,53.0,33.0,31100.0,NaN
530,"21315 SE 269th St, Maple Valley, WA, 98038",Match,Non_Exact,"21315 SE 269TH ST, MAPLE VALLEY, WA, 98038","-122.05633,47.360542",239781411.0,R,53.0,33.0,32008.0,NaN
2951,"15436 SE 20th Pl, Bellevue, WA, 98007",Match,Non_Exact,"15436 SE 20TH PL, BELLEVUE, WA, 98007","-122.13292,47.592213",186614363.0,L,53.0,33.0,23401.0,NaN
6869,"27369 245th Ave SE, Maple Valley, WA, 98038",Match,Exact,"27369 245TH AVE SE, MAPLE VALLEY, WA, 98038","-122.01567,47.356506",186958433.0,R,53.0,33.0,31603.0,NaN
2950,"1819 N 145th St, Shoreline, WA, 98133",Match,Non_Exact,"1819 N 145TH ST, SHORELINE, WA, 98133","-122.33673,47.734127",186574963.0,R,53.0,33.0,300.0,NaN

In [222]:
census_1 = pd.read_csv('census_geocode_data/0 - 8000.csv', header=None)

In [225]:
census_2 = pd.read_csv('census_geocode_data/8-16000.csv', header=None)

In [258]:
census_3 = pd.read_csv('census_geocode_data/24000_csv.csv', header=None)

In [280]:
census = pd.concat([census_1, census_2, census_3], ignore_index=False)

In [295]:
names=['index_num', 'Street', 'Match', 'Precision', 'Full address', 'loc', 'loc2', 'A', 'B', 'C', 'D', 'E']

In [296]:
census.columns = names

In [261]:
len(census_1)

8000

In [265]:
census_3.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11
0,16902,"14444 129th Ave NE, Kirkland, WA, 98034",Match,Non_Exact,"14444 129TH PL NE, KIRKLAND, WA, 98034","-122.16729,47.73239",186600250.0,R,53.0,33.0,21906.0,NaN
1,20439,"803 SW 4th Pl, Renton, WA, 98057",No_Match,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [303]:
census.sort_values('index_num', inplace=True)

In [304]:
census.tail()

,index_num,Street,Match,Precision,Full address,loc,loc2,A,B,C,D,E
3862,21608,"929 N 97th St, Seattle, WA, 98103",Match,Non_Exact,"929 N 97TH ST, SEATTLE, WA, 98103","-122.34681,47.699615",239761412.0,R,53.0,33.0,1300.0,NaN
3832,21609,"2245 SW 104th St, Seattle, WA, 98146",Match,Non_Exact,"2245 SW 104TH ST, SEATTLE, WA, 98146","-122.36205,47.51002",186623179.0,L,53.0,33.0,26600.0,NaN
3839,21610,"902 26th Ave S, Seattle, WA, 98144",Match,Exact,"902 26TH AVE S, SEATTLE, WA, 98144","-122.29906,47.594433",186593301.0,L,53.0,33.0,8900.0,NaN
3837,21611,"2157 NW Boulder Way Dr, Issaquah, WA, 98027",Match,Exact,"2157 NW BOULDER WAY DR, ISSAQUAH, WA, 98027","-122.06923,47.53435",187104382.0,L,53.0,33.0,25006.0,NaN
3845,21612,"916 26th Ave S, Seattle, WA, 98144",Match,Exact,"916 26TH AVE S, SEATTLE, WA, 98144","-122.29906,47.594334",186593301.0,L,53.0,33.0,8900.0,NaN

In [305]:
df.tail()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,Address,Neighborhood
21608,263000018,20140521T000000,360000,3,2.50,1530,1131,3.0,0,0,...,0,2009,0,98103,47.6993,-122.346,1530,1509,"929 N 97th St, Seattle, WA 98103, USA",Greenwood
21609,6600060120,20150223T000000,400000,4,2.50,2310,5813,2.0,0,0,...,0,2014,0,98146,47.5107,-122.362,1830,7200,"2245 SW 104th St, Seattle, WA 98146, USA",Highline
21610,1523300141,20140623T000000,402101,2,0.75,1020,1350,2.0,0,0,...,0,2009,0,98144,47.5944,-122.299,1020,2007,"902 26th Ave S, Seattle, WA 98144, USA",Atlantic
21611,291310100,20150116T000000,400000,3,2.50,1600,2388,2.0,0,0,...,0,2004,0,98027,47.5345,-122.069,1410,1287,"2157 NW Boulder Way Dr, Issaquah, WA 98027, USA",Talus
21612,1523300157,20141015T000000,325000,2,0.75,1020,1076,2.0,0,0,...,0,2008,0,98144,47.5941,-122.299,1020,1357,"916 26th Ave S, Seattle, WA 98144, USA",Atlantic